<section class="wrapper_tnymce editPageNameMat pb-3">
  <div class="container">
    <div class="d-flex justify-content-between mt-2 mb-2">
      <h5>Edit Flow Name</h5>
      <img alt="close icon" class="close_icon" src="assets/images/icons/filter_close_ico.png" (click)=onCloseClick()>
    </div>
   <form (submit)="changeName(changeFlowName.value)" [formGroup]="changeFlowName" class="position-relative">

      <mat-form-field>
        <input matInput placeholder="Flow Name" #flownameInput formControlName="flowName" maxlength="14" required>
        <mat-hint align="end">{{flownameInput.value?.length || 0}}/14</mat-hint>
        <mat-error *ngIf="changeFlowName.get('flowName').hasError('required') && changeFlowName.get('flowName').dirty">Please enter value</mat-error>
      </mat-form-field>
  
    <button type="submit" class="button primary-btn mt-0 mr-auto ml-auto d-block">Edit Name</button>
   </form>
  </div>
</section>