/deep/ .cdk-overlay-pane.editFlowPage /deep/ .mat-dialog-container{
    min-width: unset;
}
.close_icon{
    width:20px;
    height:20px;
    position: absolute;
    right: 10px;
    top: -15px;
    cursor: pointer;
}
.editPageNameMat{
    .container{
        position: relative;
        margin-top: 25px !important;
        margin-bottom: 11px;
    }
}