$primary-bgcolor: #F5F5F5;
$font-stack: Helvetica,
sans-serif;
$orange-button-color: #FCAF17;
//background colors
$page-bg: #F5F5F5;
$left-navi-bg: #303030; // menu background
//buttons background colors
$orange-btn: #FF8E48; //save , submit ,
$grey-btn: #A7A7A7;
$black-btn :#343434;
//labels
$grey-label: #7C7B7B;
$input-border: #D9D9D9;
//upload
$upload-border :#C1C1C1;
//navigation
$orange: #FF9B74;
$nav-level-one :#343434;
$nav-level-two :#454545;
//page title
$page-title: #FC7E30;
//breadcrumb
$breadcrumb-bg: #A9A9A9;
// forms
//button
// switch
//layout
//card
$card-bg: #FFFFFF;
//page filter
// checkbox
