.heading{
    .col{
      text-align: center;
    }
}
.button-wrap{
    .primary-btn{
        float: right;
    }
    .secondary-btn{
        float: right;
    }
}
.mat-table{
    width: 100%;;
}
.gift-card{
    width: 50px;
    margin-right: 10px;
}
.mat-header-cell{   
     border-bottom-color: rgba(0, 0, 0, 0)!important;
}
.bredcrumb-title-wrap
{
    height:122px!important;
}
.table-wrap-inner{
    border-radius: 10px;;
   td {
padding-left:15px;
    }
   
}
.mat-header-row{
    border-bottom-color: rgb(218, 229, 245)!important;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.primary-btn{
    margin-bottom: 14px;
}