.master-cards {
    margin: 1px 5px 58px 5px;
    top: 5px;
    .master-list {
        .mat-card {
            padding: 0 0 10px 0;
            border-radius: 8px;
            ul,
            li {
                // margin: 10px 0;
                padding: 7px 0 0px 0px;
                list-style: none;
            }
            ul li a:hover,
            ul li.active a {
                border-left-style: solid;
            }
            a {
                color: #000;
                text-decoration: none;
                padding: 9px 20px;
                width: 100%;
                display: block;
                font-size: 14px;
                &:hover {
                    color: #FF8E48;
                    background-color: #f5f5f5;
                    text-decoration: none;
                }
            }
        }
    }
}
.common-search{
  text-align: center;
  padding: 10px;
  position: relative;
  width: 60%;
  margin-right: auto;
  display: flex;
  input{
    width: 100%;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    padding: 0.5em;
    outline: none;
    padding-right: 45px;
  }
  .search-btn{
    position: absolute;
    right:65px;
    top:19px;
    display: inline-block;
    background: url('../../../../../../../assets/images/icons/search_ico.png');
    width: 18px;
    height: 18px;
    // padding: 0.5em;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  .filter-btn-wrap{
      display: inline-block;
      margin-left: 12px;
      top: 17px;
      cursor: pointer;
      display: flex;
      align-items: center;
    .filter-btn{
      display: inline-block;
      width: 18px;
      height: 12px;
      background: url('../../../../../../../assets/images/svg-icons/filter_orange.svg');
      &.open{
        background: url('../../../../../../../assets/images/svg-icons/filter_orange.svg');
        border: 1px solid #dbdbdb;
        background-repeat: no-repeat;
        border-radius: 5px;
        width: 32px;
        height: 32px;
        padding: 2px;
        background-size: 80% 38%;
        background-position: center center;
      }
      &.close{
      background: url('../../../../../../../assets/images/icons/filter_close_ico.svg');
        border: solid;
        border-width: 9px;
        background-color: #FF8E48;
        border-color: #FF8E48;
        height: 31px;
        width: 31px;
        border-radius: 5px;
        opacity: 1;
      }
    }
  }
}
.highlight_list {
    background-color: #F5F5F5;
    a {
        padding-left: 10px !important;
    }
}

.search-table {
    .mat-card {
        padding: 10px 0 6px 0;
        min-height: 100%;
        .search-bar {
            margin-bottom: 20px;
            padding: 0 8px 0px 8px;
        }
        table {
            width: 100%;
        }
    }
}

.text-blue {
    color: #2EBCE6;
}

.add-plus {
    padding: 0 0;
    width: 100%;
    .plus-icon{
        width: 11px;
        color: #fff!important;
        margin-right: 5px;
        margin-bottom: 2px;
    }
}

::-webkit-input-placeholder {
    color: rgb(156, 155, 154);
}

.search-panel {
    width: 47%;
}

.search-filter-icon {
    position: absolute;
    left: 49%;
    top: 35px;
    border-style: groove;
    border-width: 2px;
    border-radius: 6px;
    padding: 2px;
    color: #d68c05;
}
.master-cards .master-class {
    border-left-style: solid;
    background-color: #F5F5F5!important;
    color:#FF8E48!important;
    border-left-color: #FF8E48;
    text-decoration: #FF8E48;
}
.master-content{
    border-radius: 8px;
}
.feild-search{
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 1em;
  width:100%;
  .feild-search-inner{
    width: 95%;
    margin: 0 auto;
    .col-md-4{
      margin: 10px 0;
    }
  }
}
.button-wrap{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 32px;
}
.top-border {
    border-top-style: inset;
    border-top-width: thin;
    border-top-color: #dbdbdb;
}
.no-records{
  text-align: center;
  padding:10px;
  width: 100%;
  margin: 0 auto;
  color:red
}
.select-store-block{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 5rem;
    }
    span{
        padding-left: 5px;
    }
}