.page-wrap {
    padding: 1.5em 1.5em 3em;
    .enquiry-details {
        padding: 0 0 15px 0;
        .enquiry-details-card {
            padding: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            .header {
                background-color: #3c3c3c;
                padding: 0.5em 1.5em 0 1.5em;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                .left-side {
                    .title {
                        color: #c7c7c7;
                        .ref-id {
                            font-size: 18px;
                            color: #fff;
                        }
                    }
                }
            }
            .details {
                padding: 2em;
                h1 {
                    font-size: 22px;
                    margin-bottom: 15px;
                }
                .mat-form-field {
                    width: 100%;
                }
            }
        }
    }
}

.card-title {
    color: #5f5c5c;
    font-size: 16px;
}

.representative-response {
    padding: 0 0 15px 0;
}

.previous-response {
    padding: 0 0 15px 0;
}

.new-line-wrap {
    white-space: pre-wrap;
}

.view-mode {
    // margin-bottom: 35px;
    .text-blue:hover {
        text-decoration: underline;
    }
    label {
        color: #7c7b7b;
        font-size: 13px;
        width: 100%;
    }
    p {
        font-size: 14px;
        color: #171717;
        word-break: break-all;
        //   margin-bottom: 0;
    }
}

.faq-card {
    background-color: #f8f8f8;
    position: relative;
    .lang-field {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #c3c3c3;
        p {
            margin-bottom: 0px;
            margin: 10px;
            color: #000;
        }
    }
    .text-fields {
        // top: 40px;
        // padding-bottom: 30px;
        .field-container {
            .mat-form-field {
                width: 100%;
            }
        }
    }
}

.button-wrap {
    width: 100%;
    text-align: right;
}

.enquiry-details {
    .right-side {
        /deep/.mat-form-field {
            /deep/ .mat-select-value-text {
                span {
                    color: #fff;
                }
            }
        }
        /deep/.mat-select-arrow,
        /deep/label {
            color: #fff !important;
        }
        /deep/.mat-form-field-appearance-legacy .mat-form-field-underline {
            background-color: #fff !important;
        }
    }
}

.vl {
    border-left: 1px solid #d2cfcfd1;
    height: 45px;
    margin: 0 30px;
}

.preview {
    p {
        color: #000;
        font-size: 10px;
        margin-bottom: 0;
        padding: 0 5px;
    }
    label {
        color: #a0a0a0;
        font-size: 10px;
        margin-bottom: 0;
        padding: 0 5px;
    }
}

.options-list {
    .mat-form-field {
        margin-bottom: 0;
    }
    .mat-standard-chip {
        border-radius: 5px;
        min-height: 25px;
    }
    .mat-chip.mat-standard-chip {
        background-color: #f5f5f5;
        color: #5f5c5c;
    }
    .mat-chip {
        font-size: 13px;
        font-weight: 400;
    }
    .mat-standard-chip.mat-chip-with-trailing-icon {
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

.response-card {
    .text-fields {
        top: 40px;
        padding-bottom: 30px;
    }
    /deep/ .mat-radio-label-content {
        padding-left: 5px;
    }
    /deep/ .mat-radio-button {
        padding-right: 5px;
    }
}

.previous-card {
    margin-bottom: 1rem;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
}

.langeng {
    display: none;
}

.communication-types {
    /deep/ .mat-checkbox {
        margin-right: 10px;
    }
}

// .direction-right{
//     text-align: right;
// }
.mat-err {
    font-size: 10px;
    color: #f44336;
}

.enq-card {
    .ng-valid {
        display: block;
    }
}

.enq-card-col {
    display: none;
}

.respone-block {
    position: absolute;
    left: 6vw;
    .userreply {
        color: #23a1cc;
        font-weight: bold;
    }
    .internalreply {
        color: #dd5111;
        font-weight: bold;
    }
}

.direction-right {
    .lang-field {
        right: 0;
        left: inherit;
    }
    .respone-block {
        right: 5rem;
        text-align: right;
    }
    .preview {
        margin-top: 2rem;
    }
    .text-fields {
        text-align: right;
    }
    .info-details {
        label {
            width: 100%;
            text-align: right;
        }
    }
}

.customer-reply-card {
    .customer-reply-col.ng-valid {
        display: block;
    }
}

.customer-reply-col {
    display: none;
}

.selectTabInternal {
    .internalreplyCard {
        display: block;
    }
}

/deep/ .mat-tab-body-active {
    .userreplyCard {
        display: block !important;
    }
}

.previous-card {
    display: none;
}

.disablebtn,
.disablecusbtn {
    pointer-events: none;
}

.loading-img-hide {
    img {
        width: 30px;
    }
}

.add-enq-btn {
    display: flex;
    align-items: center;
}

.add-enq-btn-block {
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.direction {
    direction: rtl !important;
}