.form-wrap {
  margin-bottom: 5px;
  padding: 1.8em 1.8em 4em;
}
.store-image {
  padding-bottom: 15px;
}
.img-block {
  .avatar-zone {
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    text-align: center;
    border: 1px dashed #dbdbdb;
  }
  .upload-img {
    width: 100px;
    height: 100px;
  }
  .upload-icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }
}
.mat-card {
  button {
    float: right;
  }
}
.mat-card {
  background-color: #f2f2f2;
}
.img-thumbnail {
  img {
    height: 200px;
  }
}
.btn1 {
  float: right;
}

.form-wrap {
  margin-bottom: 5px;
  padding: 1.8em 1.8em 4em;
  .add-color {
    padding: 15px 16px;
    .img-block {
      // margin-bottom: 5px;
      position: relative;
      .overlay-layer {
        width: 100%;
        top: 2rem;
        position: absolute;
        z-index: 0;
        font-size: 12px;
        color: gray;
        text-align: center;
        line-height: 40px;
        font-weight: 500;
        .add-button {
          width: 2rem;
        }
      }
      .upload_btn {
        position: absolute;
        width: 100%;
        // height:40px;
        // margin-top:130px;
        z-index: 10;
        opacity: 0;
        cursor: pointer;
      }
      .avatar-zone {
        margin: 0.5rem;
        width: 310px;
        height: 190px;
        background-color: #f2f2f2;
        text-align: center;
        border: 1px dashed #dbdbdb;

        .upload-img {
          width: 250px;
          object-fit: contain !important;
        }
      }
      .upload-icon {
        width: 12px;
        height: 12px;
        margin-right: 5px;
      }
    }
  }
}

.master-fieldSet {
  .language-fieldset {
    padding: 0px 26px 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    .fieldset-heading {
      font-size: 10px;
      padding-inline-start: 7px;
      max-width: 30% !important;
    }
  }
}
.cardCodes {
  width: 100%;
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
}
.templateFor {
  margin: 28px 0px;
}
mat-card {
  margin-bottom: 1rem;
}
.value-selection {
  position: relative;
  margin: 1rem 0rem 0rem 0rem;
  .value-input {
    margin-bottom: 0px !important;
  }
  .add-button {
    position: absolute;
    right: 0rem;
    width: 2rem;
  }
}

.value-col-right {
  position: relative;
  .select-value {
    position: absolute;
    top: 1rem;
    left: 9rem;
    color: rgb(8, 151, 247);
  }
}
.card-value,
.date-days,
.value-checkbox {
  padding: 1rem 0rem 0rem 0rem;
}
p {
  margin-bottom: 0rem !important;
}
.charges {
  margin-bottom: 5.5rem;
}

/deep/ .expansion-panel .mat-expansion-panel-header {
  background-color: #eaeaea !important;
}
/deep/.expansion-panel .mat-expansion-panel-header-title {
  color: #000 !important;
}
/deep/.expansion-panel .mat-expansion-indicator::after {
  color: #000 !important;
}

.new-playicon {
  background-color: #efefef;
  padding: 2px 2px;
  border-radius: 5px;
  font-size: 10px;
  width: 180%;
  text-align: center;
}
.corporate-img-block {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  .img-title {
    padding-left: 1rem;
  }
}

.gift-image-section {
  position: relative;
}
.gift-image-text {
  position: absolute;
  top: 0px;
}
// gift card image
.messageOverwrite {
  position: relative;
  .messages {
    color: white;
    margin: 0.5rem 0.6rem;
    width: 190px;
    word-wrap: break-word;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h6 {
      font-family: "Great Vibes";
      font-size: 1rem;
      line-height: 15px;
    }
    h3 {
      font-family: "Great Vibes";
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 20px;
    }
    p {
      font-size: 11px;
      line-height: 13px;
    }
  }
}
.backgroundColor {
  width: 200px !important;
  text-align: center;
  label {
    font-size: 10px;
  }
}
.ImgHead {
  position: absolute;
  top: 0;
}
.avatar-zone1 {
  position: relative;
  width: 100%;
  height: 160px;
  background-color: #f2f2f2;
  text-align: center;
  border: 1px dashed #dbdbdb;
  margin: 0 auto;
  .upload-img {
    width: 250px;
    object-fit: contain !important;
  }
  img {
    width: 100% !important;
  }
}
.avatar-zone_logo {
  width: 120px;
  height: 35px;
  // position: absolute;
  top: 0rem;
  margin: 0.5rem 0.6rem;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu col {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.messageOverwrite
      {
      flex: none !important;
      max-width: none !important;
       }
       .mat-card{
        box-shadow: none!important;
      }

      .row-block{
        display: flex;
          overflow-x: auto;
      }

      .gift-card-block{
        height: 290px;
        background-color: #f2f2f2;
        h6{
          font-weight: bold;
          color:#212529;
        }
      }
      .terms-conditions-block {
      
        .card-title{
          color:#212529;
          font-weight: bold;
        
        }
      }

      .addUser{
        div{
          padding-bottom: 12px;
        }
      }

      .closeTag{
        width:12px;
        height: 12px;
      }

      /deep/.modelSize{
        max-width: 16vw!important;
        /deep/ .mat-dialog-container{
        min-width: 16vw!important;
        }
        }

        /deep/.addUsermodelSize{
          max-width: 22vw!important;
          /deep/ .mat-dialog-container{
          min-width: 22vw!important;
          }
          }