<div class="login-wrapper">
    <div class="row flex-container login-main-row">
        <div class="col-md-6 left"></div>
        <div class="col-md-6 right">
            <div class="login-form-wrapper">
                <div></div>
                <div class="logo-wrap">
                    <img src="assets/images/Reciproci_black_logo.png" alt="logo">
                </div>
                <form id="loginForm" #loginForm="ngForm" [formGroup]="loginFormGroup" (submit)="doLogin()">
                    <div class="login-row">
                        <div class="login-heading">
                            <p>User Login</p>
                        </div>
                        <div class="user-name-wrap">
                            <mat-form-field class="wid-100">
                                <input type="text" (change)="clearerr()" matInput placeholder="User Name" name="userName" maxlength="25" formControlName="userId" autocomplete=”off” />
                                <mat-error *ngIf="loginFormGroup.controls.userId.invalid == true">Please enter value</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="password-wrap">
                            <mat-form-field class="wid-100">
                                <input type="password" (change)="clearerr()" matInput placeholder="Password" name="password" maxlength="25" formControlName="password" />
                                <mat-error *ngIf="loginFormGroup.controls.password.invalid == true">Please enter value</mat-error>
                            </mat-form-field>
                        </div>

                        <div *ngIf="showSpinner" class="wid-100 webkit-center">
                            <spinner-component></spinner-component>
                        </div>
                        <div class="forgot-password-wrap flex-container">
                            <div class="forgot-password mb-30px">
                                <a class="forgot-text" href="javascript:void(0);" (click)="openDialog()">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="login-signup-wrap flex-container">
                            <button class="login" type="submit" [class.addBttncls]="loadingResponse==true">
                LOGIN
                <span class="loading-img-hide" *ngIf="loadingResponse">
                  <img src="assets/images/loader-icons/White-loading-200px.svg" alt="loader">
                </span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>