mat-expansion-panel-header{
    background-color:#eaeaea !important;
}
.secondary-btn{
    float:right;
    margin-bottom: 6px;;
}
.mat-card{
    box-shadow: none!important;
}
.mat-expansion-panel{
    margin-bottom: 15px!important;
}
.expansion-panel .mat-expansion-panel-header {
    background-color: rgb(194, 193, 193) !important;
}
.pt-20px{
    pointer-events: none !important;
}