.page-wrap{
 .pd-14{
    padding: 14px;
 } 
 .mb-45{
    margin-bottom: 45px;
 }
 .cross{
    float: right;
    padding: 14px;
    cursor: pointer;
}
.table-block{
    padding: 15px!important;
    margin-top: -60px;
    td{
        font-size: 12px;
    }
    .gift-head{
        background: #ffffff;
        font-family: "muliregular" !important;
        font-size: 10px;
        color: #313131;
    }
}
 }
