.mat-elevation-z8 {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
  }
  .button {
    float: right;
  }
  .mat-header-cell {
    border-bottom-color: rgb(218, 229, 245);
  }
  .mat-cell {
    border-bottom-width: 0px !important;
    border-bottom-color: transparent !important;
  }
  .mat-elevation-z8 {
    border-radius: 10px;
  }
  table {
    border-radius: 10px;
  }
  .mat-dialog-container {
    border-radius: 10px;
  }
  .table.mat-table {
    border-radius: 10px;
  }
  .mat-header-cell {
    border-radius: 10px;
  }
  .mat-table {
    border-radius: 10px;
  }
  .bredcrumb-title-wrap {
    height: 84px;
  }
  .mat-elevation-z8 {
    box-shadow: none;
  }
  .mat-header-row {
    height: 50px;
  }
  