.page-wrap {
    .form-wrap {
        padding: 2em 2em 5em;
        .card-title {
            color: #5F5C5C;
            font-size: 16px;
        }
    }
    .bold {
        font-weight: bold;
    }
    .view-section {
        margin-bottom: 1em;
        .display-container {
            background-color: #e2e2e2;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            border-radius: 5px;
            padding: 5px;
            align-items: center;
            margin-bottom: 1em;
        }
    }
    .err-msg {
        font-size: 12px;
        color: red;
        margin-top: -22px;
    }
}