<div class="bredcrumb-title-wrap">
    <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
    <div class="title flex-container">
        <h1><span class="left-arrow"><img class="left-img" src="assets/images/svg-icons/leftarrow_black.svg" alt="leftArrow"
          [routerLink]="['/search-category']"></span>View Categories</h1>
        <div class="slider">
            <mat-slide-toggle [checked]="checked" class="mat-slide-toggle" [disabled]="true">{{statusValue}}
            </mat-slide-toggle>
        </div>
    </div>
</div>
<div class="form-wrap">
    <form class="">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="category">
                    <div class="">
                        <label>Brand</label>
                        <p>{{brandname}}</p>
                    </div>
                    <div class="">
                        <label>Parent</label>
                        <p>{{viewData['parentCategoryName']}}</p>
                    </div>
                    <div class="">
                        <label>Sort Order</label>
                        <p>{{viewData['sortOrder']}}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Available From</label>
                            <p>{{viewData['availableFrom']}}</p>
                        </div>
                        <div class="col-md-6">
                            <label>Available To</label>
                            <p>{{viewData['availableTo']}}</p>
                        </div>
                    </div>
                    <!-- <div>
                        <mat-checkbox [checked]="viewData['isCakeCategory']" disabled> Is Cake Category
                        </mat-checkbox>
                    </div> -->
                    <div class="">
                        <p><u style="color:#2EBCE6;" (click)="openStoresDialog()">{{viewData['selectedStoreCount']}} Stores
                Selected</u></p>
                        <label>of {{viewData['totalStoreCount']}} Stores</label>
                    </div>
                    <div class="grid img-block">
                        <div class="avatar-zone">
                            <label class="upload-text" *ngIf="viewData['imagePath'] === '' || viewData['imagePath'] == 'undefined'">Category Image</label>
                            <img class="upload-img" *ngIf="viewData['imagePath'] !== ''" [src]="filePathUrl+viewData['imagePath']" width="80px" />
                        </div>
                    </div>
                    <div class="row">
                        <button class="button secondary-btn" (click)="openProductListDialog()">Products</button>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-8">
                <mat-card class="multi-lang">

                    <mat-card class="faq-card mb-20px" *ngFor="let ln of viewData['categoryLocales']; let i=index;">
                        <div class="lang-field" [class.right-text]="ln.langName=='Arabic'">
                            <p>{{ln.langName}}</p>
                        </div>
                        <div class="row card-mb {{languageDirection[i]}}">
                            <div class="col-md-11 text-fields">
                                <div class="row {{languageDirection[i]}}">
                                    <div class="col-md-6 {{alignCss[i]}}">
                                        <label>Category Name</label>
                                        <p>{{ln.categoryName}}</p>
                                    </div>
                                    <div class="col-md-6 {{alignCss[i]}}">
                                        <label>Meta Tag Keywords</label>
                                        <p>{{ln.metaTag}}</p>
                                    </div>
                                </div>
                                <div class="field-container {{alignCss[i]}}">
                                    <label>Description</label>
                                    <p>{{ln.description}}</p>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </mat-card>
            </div>
        </div>
        <div class="btm-button-wrap">
            <button class="button secondary-btn" [routerLink]="['/search-category']">CANCEL</button>
            <button class="button primary-btn" [routerLink]="['/edit-category/'+id]">EDIT</button>
        </div>
    </form>
</div>