.beacons-dialog {
    margin: 0;
    padding: 30px;
    .title {
        font-size: 18px;
        font-weight: 500;
        color: #5F5C5C;
    }
    .mat-form-field {
        display: inline;
        position: relative;
        text-align: left;
    }
}
