<div class="bredcrumb-title-wrap">
    <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
    <div class="title flex-container">
        <h1><span class="left-arrow"><img class="left-img" src="assets/images/svg-icons/leftarrow_black.svg"
                    alt="leftArrow" [routerLink]="['/search-press-release']"></span>Edit Press Release</h1>
        <div class="slider">
            <mat-slide-toggle [(ngModel)]="toggleVal" (change)="toggleStatus($event)" class="mat-slide-toggle">
                {{statusValue}}</mat-slide-toggle>
        </div>
    </div>
</div>

<div class="page-wrap" *ngIf="buildFlag">
    <form [formGroup]="pressFormGroup" #editPressReleaseForm="ngForm">

        <mat-card class="card">
            <div class="row press-details">
                <div class="col-md-3">
                    <!-- <mat-form-field>
                        <mat-select placeholder="Select Country" multiple formControlName="selectCountry" required>
                            <mat-option *ngFor="let country of countries" value="{{country.countryId}}">
                                {{ country.countryName }}
                            </mat-option>
                        </mat-select>
                        <div class="error email_error"
                            *ngIf="showError == true && pressFormGroup.controls.selectCountry.invalid">Please select
                            value</div>
                    </mat-form-field> -->
                    <div>
                        <mat-select-autocomplete [placeholder]="'Select Country'" ngDefaultControl [options]="countries1" [display]="'countryName'" [value]="'value'" [multiple]='true' [labelCount]="1" (selectionChange)="getAllCountries($event)" [formControl]="pressFormGroup.controls['selectCountry']"
                            required>
                        </mat-select-autocomplete>
                        <mat-error style="margin-top: -25px;font-size: 10px;" *ngIf="editPressReleaseForm.submitted && pressFormGroup.get('selectCountry').hasError('required')">
                            Please select value
                        </mat-error>
                    </div>
                    <!-- <ng-multiselect-dropdown name="selectCountry" [placeholder]="'Select Country'" [data]="countries"
                        formControlName="selectCountry" [disabled]="disabled" [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)" required>
                    </ng-multiselect-dropdown> -->
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="Select Brand" formControlName="selectBrand" required>
                            <mat-option *ngFor="let brand of brandList" value="{{brand.brandId}}">
                                {{ brand.brandName }}
                            </mat-option>
                        </mat-select>
                        <div class="error email_error" *ngIf="showError == true && pressFormGroup.controls.selectBrand.invalid">Please select value
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <input matInput [matDatepicker]="Date1" placeholder="Publish From Date" readonly formControlName="startDate" [min]="minDate">
                        <mat-datepicker-toggle matSuffix [for]="Date1"></mat-datepicker-toggle>
                        <mat-datepicker #Date1></mat-datepicker>
                        <mat-error *ngIf="pressFormGroup.get('startDate').hasError('required')">
                            Please select date</mat-error>
                    </mat-form-field>
                    <div *ngIf="dateError1 == true && pressFormGroup.controls.startDate.invalid" class="color-red" style="margin-top: -20px;font-size: 10px;">Publish From Date is Expired
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="example-input-wrapper">
                        <span class="time">Publish From Time</span><img src="assets/images/icons/time_ico.svg"
                            width="15px" alt="">
                        <input matInput [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" class="timer"
                            formControlName="publishFromTime"
                            [min]="pressFormGroup.get('startDate').value  > minDate ? pressFormGroup.get('startDate').value : minDate"
                            style="border-bottom: 1px solid #ececec;">
                        <owl-date-time [pickerType]="'timer'" #dt1>
                        </owl-date-time>
                    </label>
                    <mat-error *ngIf="pressFormGroup.get('publishFromTime').hasError('required')">
                        Please select value</mat-error>
                    <div *ngIf="dateError2 == true && pressFormGroup.controls.publishFromTime.invalid" class="color-red" style="font-size: 10px;">Publish From Time is Expired</div>
                </div>

                <div class="col-md-3">
                    <mat-form-field>
                        <input matInput [matDatepicker]="Date" placeholder="Publish To Date" readonly formControlName="endDate" [min]="pressFormGroup.get('startDate')=='' ? minDate : pressFormGroup.get('startDate').value">
                        <mat-datepicker-toggle matSuffix [for]="Date"></mat-datepicker-toggle>
                        <mat-datepicker #Date></mat-datepicker>
                        <mat-error *ngIf="pressFormGroup.get('endDate').hasError('required')">
                            Please select date</mat-error>
                    </mat-form-field>
                    <div *ngIf="dateError3 == true && pressFormGroup.controls.endDate.invalid" class="color-red" style="margin-top: -20px;font-size: 10px;">Publish To Date is Expired
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="example-input-wrapper">
                        <span class="time">Publish To Time</span><img src="assets/images/icons/time_ico.svg"
                            width="15px" alt="">
                        <input matInput [owlDateTimeTrigger]="dt" [owlDateTime]="dt" class="timer"
                            formControlName="publishToTime"
                            [min]="pressFormGroup.get('endDate').value  > pressFormGroup.get('startDate').value ? pressFormGroup.get('endDate').value : minDate && pressFormGroup.get('publishFromTime').value > minDate ? pressFormGroup.get('publishFromTime').value : minDate"
                            style="border-bottom: 1px solid #ececec;">
                        <owl-date-time [pickerType]="'timer'" #dt>
                        </owl-date-time>
                    </label>
                    <mat-error *ngIf="pressFormGroup.get('publishToTime').hasError('required')">
                        Please select value</mat-error>
                    <div *ngIf="dateError4 == true && pressFormGroup.controls.publishToTime.invalid" class="color-red" style="font-size: 10px;">Publish To Time is Expired</div>
                </div>
            </div>
            <form [formGroup]="localesFormGroup" *ngIf="buildFlag==true">
                <div formArrayName="pressReleaseLocale">
                    <mat-card class="faq-card mb-20px" *ngFor="let pressRow of localesFormGroup['controls']['pressReleaseLocale']['controls'];let i = index;" [formGroupName]="i">
                        <div class="lang-field {{langfield[i]}}">
                            <p>{{releaseData.pressReleaseLocaleList[i].languageCode}}</p>
                        </div>
                        <div class="row card-mb fieldtop">
                            <div class="col-md-10 text-fields">
                                <div class="field-container">
                                    <mat-form-field class="{{alignCss[i]}}">
                                        <input matInput placeholder="Release Title" maxlength="150" formControlName="releaseTitle" required>
                                        <mat-error *ngIf="pressRow.get('releaseTitle').hasError('required')">Please enter value</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="field-container">
                                    <!-- <mat-form-field class="{{alignCss[i]}}">
                                        <textarea matInput placeholder="Content" formControlName="content"
                                            required></textarea>
                                        <mat-error *ngIf="pressRow.get('content').hasError('required')">Please enter
                                            value</mat-error>
                                        <mat-error *ngIf="pressRow.get('content').hasError('minlength')">Minimum 4
                                            character(s) required</mat-error>
                                    </mat-form-field> -->
                                    <editor *ngIf="languageList[i].languageName!='Arabic'" apiKey="test" [init]="{
                                        plugins: 'code, preview ,print,fullpage, searchreplace, directionality, visualblocks, visualchars, fullscreen, image, link, media, template, codesample, table, charmap, hr, pagebreak, nonbreaking, anchor, toc, insertdatetime, advlist, lists, wordcount, imagetools, textpattern, help',
                                        toolbar:'code preview',
                                        height : '200'
                                              }" formControlName="content" (onSelectionChange)="removeErrorMsg(i)">
                                    </editor>
                                    <editor *ngIf="languageList[i].languageName=='Arabic'" id="arabicID" apiKey="test" [init]="{
                                        plugins: 'code, preview ,print,fullpage, searchreplace, directionality, visualblocks, visualchars, fullscreen, image, link, media, template, codesample, table, charmap, hr, pagebreak, nonbreaking, anchor, toc, insertdatetime, advlist, lists, wordcount, imagetools, textpattern, help',
                                        toolbar:'code preview',
                                        height : '200'
                                              }" formControlName="content" (onSelectionChange)="removeErrorMsg(i)">
                                    </editor>
                                </div>
                                <div class="field-container">
                                    <mat-form-field class="{{alignCss[i]}}">
                                        <input matInput placeholder="Video Url" formControlName="viedoUrl">
                                        <mat-error *ngIf="pressRow.get('viedoUrl').hasError('required')">Please enter value</mat-error>
                                        <mat-error *ngIf="pressRow.get('viedoUrl').hasError('pattern')">Please enter Invalid url</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-2 img-container">
                                <div class="grid img-block">
                                    <div class="avatar-zone">
                                        <label *ngIf="uploadFlag[i]==false" class="upload-text" [class.placeholder-img]="imgUpload">Upload Image</label>
                                        <img *ngIf="imagePath.length!=0 && imagePath[i]!=''" class="upload-img" [class.uploaded-img]="imgUpload" [src]="filePathUrl+imagePath[i]" width="80px">
                                    </div>
                                    <div class="remove-img" *ngIf="uploadFlag[i]==true" style="margin:0 2em 0 0">
                                        <span (click)="removeImage(i)"> <img
                                                src="assets/images/icons/filter_close_ico.png"
                                                alt=""><label>Remove</label></span>
                                    </div>
                                    <!-- <input #uploadEl *ngIf="uploadFlag[i]==false"  type="file" class="upload_btn"  (change)="uploadImage($event.target.files,i)"/>
                                 <div class="overlay-layer" *ngIf="uploadFlag[i]==false" >
                                     <img  class="upload-icon" src="assets/images/svg-icons/uploadgray_ico.svg" alt="">Upload Image
                                 </div> -->
                                    <input style="display:none;" type="file" #uploadEl class="upload_btn" (change)="uploadImage($event.target.files,i)" />
                                    <div class="text-center" style="width: 75%;" *ngIf="uploadFlag[i]==false">
                                        <span class="upload-btn-text" (click)='uploadEl.click()'>
                                            <span class="upload-icon">
                                                <img src="assets/images/svg-icons/uploadgray_ico.svg" width="12px"
                                                    alt="Img">
                                            </span>Upload Image
                                        </span>
                                    </div>

                                </div>
                                <div *ngIf="uploadError[i]==true" class="image-error">
                                    Please upload image
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </form>
        </mat-card>
    </form>
    <div class="btm-button-wrap">
        <button class="button secondary-btn" [routerLink]="['/search-press-release']">CANCEL</button>
        <button class="button primary-btn" [disabled]="loading" (click)="updatePressRelease(pressFormGroup.value, localesFormGroup.value)">UPDATE</button>
    </div>
</div>