.page-wrap {
  padding: 1.3rem;
}

.img-block {
  .avatar-zone {
    width: 125px;
    height: 125px;
    background-color: #F2F2F2;
    text-align: center;
    border: 1px dashed #dbdbdb;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .upload-img {
    width: 100%;
    min-height: -webkit-fill-available;
  }

  .upload-icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }

}

.grid {
  display: grid;
}

.lang-bg {
  background-color: grey;
}

.faq-card {
  background-color: #F8F8F8;
  position: relative;

  .lang-field {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #c3c3c3;

    p {
      margin-bottom: 0px;
      margin: 10px;
    }
  }

  .text-fields {
    left: 40px;
    top: 33px;
    padding-bottom: 33px;

    .field-container {
      .mat-form-field {
        display: block;
      }
    }
  }

  .img-container {
    left: 37px;
    top: 33px;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-form-field {
  width: 100%;
}

.placeholder-img {
  display: none;
}

.placeholder-imgArabic {
  display: none;
}

.upload-text {
  font-size: 11px;
  color: #095bd0;
  cursor: pointer;
}

.inlne-grid {
  .mat-radio-button {
    margin-right: 1rem;
  }
}

.upload-icon {
  .text {
    padding: 0 0 0 5px;
  }
}

.teamOption-grid {
  .radio-bttn {
    display: flex;
    align-items: center;

    .mat-radio-button {
      margin-left: 5px;
    }
  }
}

.time-fix {
  /deep/ .mat-form-field-infix {
    display: flex;
  }
}

.fileupload-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload-row {
  margin: 0;

  .upload-col {
    padding-left: 0;
  }
}

.fileupload {
  /deep/ .mat-radio-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
  }
}

.activity-type {
  margin-top: 1rem;
}

.fileupload.activity-type {
  .mat-radio-group {
    margin-top: 0;
  }
}

.choosefile-upload {
  background-color: #efefef;
  padding: 1rem;

  input[type="file"] {
    border: 1px solid #dbdbdb;
    padding: 0.5rem;
  }
}

.or-option {
  display: flex;
  align-items: center;
}

.disableddate,
.disabledday {
  pointer-events: none;
  opacity: 0.5;
}

.rulename-option {
  margin-top: 14px;
}

.errormes {
  color: #f44336;
  font-size: 10px;
  margin-top: 10px;
}

.timings-row {
  padding: 5px 0;
  margin-top: 20px;

  .time-picker {
    width: 100%;
    border-bottom: 1px solid #dedede;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    border-radius: 0px;
    padding: 0;
    font-size: 10px;
    background-color: transparent;
  }
}

.timer-label {
  color: #7C7B7B;
  font-size: 14px;
  padding: 0 1rem;

  img {
    width: 18px;
  }
}

.loading-img-hide{
  img{
    width: 30px;
  }
}
.disablebtn{
  pointer-events: none;
}