<div class="page-wrap">
  <div class="search-panel-block">
    <div class="bredcrumb-title-wrap">
      <div class="search-container-block">
        <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
        <div class="search-list">
          <form class="filter-wrap" [formGroup]="searchCartFormGroup" #searchCartForm="ngForm"
            (submit)="searchKey()">
            <div class="row title-search-row">
              <div class="col-md-4 title-search-col">
                <div class="title">
                  <h1>Cart Configuration</h1>
                </div>
              </div>
              <div class="col-md-5 title-search-col">
                <div class="searchform-block">
                  <div class="common-search">
                    <input type="text" formControlName="searchVal" maxlength="30" placeholder="Search Cart Configuration" />
                    <span class="search-btn" (click)="searchKey()"></span>
                    <div class="filter-btn-wrap">
                      <span class="filter-btn" (click)="openFilter();" [ngClass]="status ? 'open' : 'close'"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 title-search-col">
                <div class="add-btn text-right">
                  <button type="button" class="button primary-btn m-0px" [routerLink]="['/add-cart-configuration']">
                    <span class="add-plus">
                      <img src="assets/images/svg-icons/add_ico.svg" alt="add" class="plus-icon">
                    </span>ADD CART CONFIGURATION
                  </button>
                </div>
              </div>
            </div>
            <div class="feild-search" *ngIf="!status">
              <div class="row feild-search-inner">
                  <div class="col-md-3 top">
                      <mat-form-field>
                          <mat-select (selectionChange)="getAllCountries(brandInput.value)" #brandInput placeholder="Brand" formControlName="brandOid">
                              <mat-option *ngFor="let brand of brandList" [value]="brand.brandId">
                                  {{ brand.brandName }}
                              </mat-option>
                          </mat-select>
                                </mat-form-field>
                 
                    </div>
                <div class="col-md-3">
                  <mat-select-autocomplete name="Country" ngDefaultControl [placeholder]="'COUNTRY'"
                    [options]="countryList" [display]="'countryName'" [value]="'value'" [multiple]='true'
                    [labelCount]="1" (selectionChange)="getAllBrands($event)"
                    [selectedOptions]="selectedCountryOptions"
                    [formControl]="searchCartFormGroup.controls['notificationCountry']" #countryInput>
                  </mat-select-autocomplete>
                </div>
             
              
          
                <div class="col-md-3 top">
                  <mat-form-field>
                    <mat-select placeholder="Status" formControlName="status" >
                      <!-- <mat-option value="">Select</mat-option> -->
                      <mat-option *ngFor="let status of statusList" [value]="status">
                        {{ status }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <div class="button-wrap">
                  <button class='button quaternary-btn' (click)="resetForm()">RESET</button>
                  <button class='button tertiary-btn' type="submit">APPLY</button>
                </div> -->
                <div class="button-wrap">
                    <div class="">
                        <button class='button reset-btn' type="button"
                            (click)="resetForm()">RESET</button>
                        <button class='button apply-btn' type="submit"
                           >APPLY
                            <!-- <span class="loading-img-hide" *ngIf="loadingResponse">
                                <img src="assets/images/loader-icons/Blue-loading-200px.svg"
                                    alt="loader">
                            </span> -->
                        </button>
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="form-wrap">
      <div class="table-wrap">
        <div class="table-wrap-inner">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="cartConfigOid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border">SR NO </th>
              <!-- <td mat-cell *matCellDef="let row"><u><a [routerLink]="['/view-amenities/'+row.cartConfigOid]"
                    class="text-blue"> {{
                    row.cartConfigOid }} </a></u></td> -->
                    <!-- <td mat-cell (click)="ViewAmenities(row.cartConfigOid)" *matCellDef="let row"><u><a
                      class="text-blue"> {{
                      row.cartConfigOid }} </a></u></td> -->
                      <td mat-cell *matCellDef="let row">{{ row.cartConfigOid }}</td>
            </ng-container>
            <ng-container matColumnDef="cartConfigTitle">
              <th mat-header-cell *matHeaderCellDef class="top-border"> CONFIGURATION NAME  </th>
              <!-- <td mat-cell *matCellDef="let row">{{ row.cartConfigTitle }}</td> -->
              <td mat-cell (click)="ViewCart(row.cartConfigOid)" *matCellDef="let row"><u><a
                class="text-blue"> {{
                row.cartConfigTitle }} </a></u></td>
            </ng-container>
            <ng-container matColumnDef="brandName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> BRAND </th>
              <td mat-cell *matCellDef="let row">{{ row.brandName }}</td>
            </ng-container> 
            <ng-container matColumnDef="countryNameList">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> COUNTRY  </th>
              <td mat-cell *matCellDef="let row">{{row.countryNameList}}</td>
            </ng-container>
            <ng-container matColumnDef="storeCount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> NO.OF.STORES </th>
              <td mat-cell *matCellDef="let row">{{row.storeCount}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> STATUS </th>
              <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
          <div *ngIf="searchStoreVal" class="select-store-block">
            <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
          </div>
          <div class="no-records" *ngIf="noRecords">
            No Records Found!
          </div>
        </div>
        <div>
          <mat-paginator  [length]="resultsLength" (change)="searchVal()" #paginator
            (page)="getUpdate($event)" [pageSize]="10" [pageSizeOptions]="[10,20,50,100]">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
