<div class="page-wrap" *ngIf="success==false">
    <div class="title">
        <div class="header">
            <h5>Forgot Password ?</h5>
            <div class="close-icon">
                <img class="cursor" src="assets/images/icons/filter_close_ico.png" alt="" (click)="onCloseClick()">
            </div>
        </div>
    </div>
    <div class="form-wrap">
        <form [formGroup]="forgotPasswordForm" (submit)="verifyEmail(forgotPasswordForm.value)">
            <mat-form-field class="mb-5">
                <input (ngModelChange)="error = false" matInput type="email" maxlength="50" placeholder="Email ID" required formControlName="emailId" />
                <mat-error *ngIf="forgotPasswordForm.get('emailId').hasError('required')">Please enter value</mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('emailId').hasError('pattern')">Please enter valid emailId
                </mat-error>
            </mat-form-field>
            <div *ngIf="error && forgotPasswordForm.get('emailId').value" class="err-msg">
                {{unverifiedEmail}}</div>
            <div *ngIf="showSpinner" class="spinner">
                <spinner-component></spinner-component>
            </div>
            <div class="text-right">
                <button class="button primary-btn" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
</div>

<div class="page-wrap" *ngIf="success==true">
    <div class="title">
        <div class="header">
            <h5>A verification link has been sent to your email account</h5>
            <div class="close-icon">
                <img class="cursor" src="assets/images/icons/filter_close_ico.png" alt="" (click)="onCloseClick()">
            </div>
        </div>
        <div>
            Please click on the link that has been sent to your email account to continue the change password process
        </div>
    </div>
</div>