    .page-wrap {
        padding: 15px;
        .title {
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h5 {
                    font-size: 20px;
                    color: #8a8a8a;
                }
            }
        }
        .attribute-list {
            background-color: #f4f4f4;
            margin-bottom: 15px;
        }
    }
    
    .listing {
        display: inline-block;
        width: 10%;
    }
    
    /deep/ .mat-dialog-container {
        min-width: 25vw !important;
    }
    
    .cursor {
        cursor: pointer;
    }
    
    .mb-5 {
        margin-bottom: -5px;
    }
    
    .err-msg {
        color: red;
        font-size: 11px;
    }
    
    .spinner {
        width: 100%;
        text-align: -webkit-center;
    }