.master-fieldSet {
    .language-fieldset{
        padding: 0px 26px 21px;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
        .fieldset-heading-country {
            font-size: 14px;
            padding-inline-start: 7px;
            max-width: 65% !important;
        }
        .fieldset-heading {
            font-size: 14px;
            padding-inline-start: 7px;
            max-width: 39% !important;
        }
    }
}
.fade-out{
    color: #9a9a9a;
}
/deep/ .mat-autocomplete-panel{
    /deep/ .mat-option{
        /deep/ .mat-option-text{
            span{
                font-size: 12px;
            }
        }
    }
  }