.page-wrap {
    padding: 1.8em 1.8em 3em 1.8em;
  }
  .mat-form-field {
    width: 100%;
  }
  .table-input {
    width: 85px;
    .mat-form-field {
      width: 75%;
    }
  }
  .add-plus {
    padding: 0 0;
    width: 100%;
    .plus-icon {
      width: 9px;
      color: #fff !important;
      margin-right: 5px;
      margin-bottom: 2px;
    }
  }
  .addOns-content {
    background-color: #f7f7f7;
    width: 100%;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 8px;
    margin-top: 10px;
    border-radius: 5px;
    .text {
      color: #4b4b4b;
    }
    img {
      float: right;
    }
  }
  .add-card {
    margin-bottom: 10px;
  }
  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .master-fieldSet {
    .language-fieldset {
      padding: 0px 26px 10px;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      .fieldset-heading {
        font-size: 14px;
        padding-inline-start: 7px;
        max-width: 50% !important;
      }
    }
  }
  .img-block {
    .avatar-width {
      width: 100%;
      height: 200px;
      background-color: #f2f2f2;
      text-align: center;
      margin-bottom: 10px;
      border: 1px dashed #dbdbdb;
    }
    .upload-img {
      width: 100%;
      height: 200px;
    }
    .upload-icon {
      width: 12px;
      height: 12px;
      margin-right: 5px;
      cursor: pointer;
    }
    .upload-text {
      color: #a7a7a7;
      font-size: 16px;
    }
  }
  .placeholder-img {
    display: none;
  }
  .upload-btn-text {
    cursor: pointer;
    font-size: 12px;
    color: #145cbf;
  }
  .remove-img {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      width: 15px;
    }
    label {
      font-size: 13px;
      color: grey;
      padding-left: 5px;
      margin-bottom: 0;
    }
  }
  
    // .faq-card {
    //     background-color: #f8f8f8;
    //     position: relative;
    //     .lang-field {
    //         position: absolute;
    //         top: 0px;
    //         left: 0px;
    //         background-color: #c3c3c3;
    //         p {
    //             margin-bottom: 0px;
    //             margin: 8px;
    //         }
    //     }
    //     .text-fields {
    //         left: 22px;
    //         top: 26px;
    //         right: 15px;
    //         padding-bottom: 30px;
    //         .field-container {
    //             .mat-form-field {
    //                 display: block;
    //             }
    //         }
    //     }
    // }
    .terms-conditions-card{
      /deep/ .expansion-panel{
        margin-bottom: 10px;
      }
      /deep/ .expansion-panel .mat-expansion-panel-header {
          background-color: #eaeaea !important;
         
      }
      /deep/.expansion-panel .mat-expansion-panel-header-title {
          color: #000 !important;
      }
      /deep/.expansion-panel .mat-expansion-indicator::after {
          color: #000 !important;
      }
    }

  label{
    color: #848484;
  }
  .mar0{
    margin-bottom: 0rem;
  }
  .display-color{
    color:rgba(0, 0, 0, 0.87);
  }

  .note-text{
    margin-bottom: 5px;
    font-size: 10px;
    color: #696b6b;
  }
.img-block {
  
  .avatar-zone1 {
    width: 80%;
    height: 100px;
    background-color: #f2f2f2;
    text-align: center;
    margin-bottom: 10px;
    border: 1px dashed #dbdbdb;
    .upload-img {
      width: 100%;
      height: 100%;
    }
  }
 
 
}
.content{
  margin:5px
}
.note{
  margin: 0;
  text-align: center;
  padding: 10px;
  p{
    word-break: break-word;
  }
}