<!-- <div class="page-wrap">
  <div class="space-between close-dialog">
    <h5>Add Area Mapping</h5>
    <div class="close-icon text-right">
      <img src="assets/images/icons/filter_close_ico.png" (click)="onCloseClick()" alt="">
    </div>
  </div>
  <form [formGroup]="deliveryFormGroup" #storeForm="ngForm">
    <div class="area-mapping-listing" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" formArrayName="orders">
      <mat-list role="list"  *ngFor="let order of deliveryFormGroup['controls']['orders']['controls']; let i = index;" [formGroupName]="i">
          <mat-list-item>
            <mat-checkbox  formControlName="area">  {{deliveryArea[i].areaName}} </mat-checkbox>
          </mat-list-item>
      </mat-list>
  </div>
  <div class="text-right">
    <button class="button primary-btn" type="button" (click)="addDeliveryArea(deliveryFormGroup.value)">ADD</button>
    <button class="button secondary-btn" type="button" (click)="onCloseClick()">CANCEL</button>
  </div>
  </form>
</div> -->

<div class="page-wrap-selected-store">
    <div class="space-between close-dialog">
        <h5>Add Area Mapping</h5>
        <div class="close-icon text-right">
          <img src="assets/images/icons/filter_close_ico.png" (click)="onCloseClick()" alt="">
        </div>
      </div>
    <div class="common-search add-kiosk-seach">
      <input class="user_list_input" (keyup)="applyFilter($event.target.value)" (click)="applyFilter($event.target.value)" type="text" placeholder="Area Name" >
      <!-- <span class="search-btn" ></span> -->
    </div>
      <!-- <div class="close-icon text-right" (click)="closeDialog()" > <img src="assets/images/icons/filter_close_ico.png" alt='close'>
      </div> -->
      <!-- <form [formGroup]="deliveryFormGroup" #storeForm="ngForm">
      <div class="row">
        <div class="col-md-5">
          <mat-form-field class="field-style field-width">
              <mat-select formControlName="countryId" id="country" matInput placeholder="Country Name" #countryInput  (selectionChange)="getAllCitiesA(countryInput.value)" required> 
                <mat-option *ngFor="let country of countries" value="{{country.countryId}}">
                      {{ country.countryName }}
                  </mat-option>
              </mat-select>
             
          </mat-form-field>
          <div *ngIf="showCountryError" style="color:red;margin-top:-2em">
              Please select country
          </div>
      </div>
      <div class="col-md-5">
          <mat-form-field class="field-style field-width">
              <mat-select formControlName="cityID" id="country" matInput placeholder="City Name"  >
                  <mat-option *ngFor="let city of cityList" value="{{city.cityId}}">
                      {{ city.cityName }}
                  </mat-option>
              </mat-select>
            
          </mat-form-field>
      </div>
      <div class="">
        <button class='button primary-btn' (click)="getAllData(deliveryFormGroup.value)" type="button">APPLY</button>
    </div>
      </div>
    </form> -->
      <div class="form-wrap">
          <div class="table-wrap">
              <div class="table-wrap-inner">
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="deliveryAreaOid">
                      <th mat-header-cell *matHeaderCellDef mat-table-sticky>
                        <!-- <div class="flex">
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                          </mat-checkbox> 
                          <div>
                            ALL
                          </div>
                        </div> -->
                       
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                          </mat-checkbox>
                        </td>
                  </ng-container>

                  <!-- Position Column -->
                  <ng-container matColumnDef="countryName">
                    <th mat-header-cell *matHeaderCellDef mat-table-sticky> Country Name  </th>
                    <td mat-cell *matCellDef="let element"> {{element.countryName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="cityName">
                    <th mat-header-cell *matHeaderCellDef mat-table-sticky> City Name  </th>
                    <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="areaName">
                    <th mat-header-cell *matHeaderCellDef mat-table-sticky> Area Name  </th>
                    <td mat-cell *matCellDef="let element"> {{element.areaName}} </td>
                  </ng-container>

                 


                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                      (click)="selection.toggle(row)">
                  </tr>
                </table>
            
            <div class="loader-block" *ngIf="loadingResponse">
              <span class="loading-img-hide">
                <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="loader">
              </span>
            </div>
          </div>

        </div>
        <div class="no-records" *ngIf="NoRecord">
          No Records Found!
        </div>
        <div *ngIf="!NoRecord" class="button-wrap">
            <div class="text-right">
              <button class="button secondary-btn" [mat-dialog-close]="{
                'buttonName': 'CANCEL'
              }">CANCEL</button>
              <button class="button primary-btn text-right" [mat-dialog-close]="{
                'buttonName': 'SELECT',
                'tableData': selection.selected,
                'totalCount':resultsLength
              }">SELECT</button>
            </div>
          </div>
    </div>
</div>
