button{
    float: right;
    margin-bottom: 10px!important;
}
.mat-card{
    box-shadow: none;;
}


@media (min-width: 1100px) {
    .MobileNum {
        
        // left: -12px;
        position: relative;
       
    }
  }