<div *ngIf="programData.length!=0" class="bredcrumb-title-wrap">
  <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
  <div class="title flex justify-content">
    <h1><span class="left-arrow"><img class="left-img" src="assets/images/svg-icons/leftarrow_black.svg" alt="leftArrow"
          [routerLink]="['/search-programs']"></span>View Program</h1>
    <mat-slide-toggle [(ngModel)]="toggleVal" (change)="toggleStatus($event)" [disabled]="updatePermission"
      class="mat-slide-toggle">{{statusValue}}</mat-slide-toggle>
  </div>
</div>

<div class="page-wrap" *ngIf="programData.length!=0">
  <form [formGroup]="programFormGroup" #createProgramForm="ngForm">
    <div class="add-program">
      <mat-card class="summary-card">
        <div class="summary">
          <div class="row">
            <div class="col-md-3">
              <p>{{programData?.programId}}, {{programData?.programType}},
                {{programData.brand!=null ? programData.brand.brandName : ''}}
                <span *ngIf="programData.productBrandType!=null && programData.productBrandType=='BASE'">BASE</span></p>
              <p>{{programData?.programLocales[0].programName}}</p>
            </div>
            <div class="col-md-2">
              <label>Reward Type</label>
              <p>{{programData?.rewardType}}</p>
            </div>
            <div class="col-md-2">
              <label for="">Approval Status</label>
              <p>{{programData?.approvedStatus == 'WAITINGAPPROVAL'? 'PENDING APPROVAL' : programData?.approvedStatus}}
              </p>
            </div>
            <div class="col-md-5 text-right" *ngIf="programData.length!=0">
              <span *ngIf="programData.publishStatus=='UPCOMING'"><img src="assets/images/svg-icons/upcoming_ico.svg"
                  width="30px" alt=""><span class="stream-status"> {{programData?.publishStatus}}</span></span>
              <span *ngIf="programData.publishStatus=='LIVE'"><img src="assets/images/svg-icons/live_ico.svg"
                  width="30px" alt=""><span class="stream-status"> {{programData?.publishStatus}}</span></span>
            </div>
          </div>
        </div>
      </mat-card>
      <div class="row">
        <div class="col-md-12">
          <mat-card class="program-details">
            <div class="row program-img-block">
              <!-- <div class="col-md-2">
                              <div class="grid img-block">
                                <div class="avatar-zone">
                                    <img class="upload-img" [src]="filePathUrl+programData?.programImgPath" [class.uploaded-img]="imgUpload" width="80px">
                                </div>
                              </div>
                          </div> -->
              <div class="col-md-3 pad-l-0">
                <div class="view-mode">
                  <label>Program Type</label>
                  <p>{{programData?.programType}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row flex align-center" *ngIf="programData.programType != 'BASE'">
                  <div class="col-md-4"
                    *ngIf="programData.productBrandType==null || programData.productBrandType!='BASE'">
                    <div class="view-mode">
                      <label>Brand</label>
                      <p>{{brand}}</p>
                    </div>
                  </div>
                  <div class="col-md-4"
                    *ngIf="programData.productBrandType!=null && programData.productBrandType=='BASE'">
                    <div class="view-mode">
                      <label>Brand</label>
                      <p>BASE</p>
                    </div>
                  </div>
                  <div class="col-md-3"
                    *ngIf="programData.productBrandType!=null && programData.productBrandType!='BASE'">
                    <div class="view-mode">
                      <label>Free Product</label>
                      <p>{{programData?.freeProductType}}</p>
                    </div>
                  </div>
                  <div class="col-md-4" *ngIf="skuFile!= null">
                    <!-- <p class="mb-0 text-blue">Upload SKU</p> -->
                    <label for="skuFile" class="word-wrap">{{skuFileName}}</label>
                    <div class="">
                      <a href="{{fileUrl}}{{skuFile}}"><img class="downoad-icon"
                          src="assets/images/svg-icons/download_xl.svg" alt=""><span class="download-info">Download
                          SKU uploaded</span></a>
                      <!-- <a href="http://3.210.192.55:8080/file{{filePath}}"><img class="downoad-icon" src="assets/images/svg-icons/uploadgray_ico.svg" alt=""><span class="download-info">Download Customers List</span></a> -->
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="selectedCount!==0 && skuFile==''">
                    <u class="text-blue">{{selectedCount}} sku's are listed</u>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="row program-row">
                <div class="col-md-3 program-col-sm">
                  <label>Program Name</label>
                  <p *ngFor="let program of programData?.programLocales;let i=index">{{program.programName}}</p>
                </div>
                <div class="col-md-9 program-col-lg">
                  <label>Description</label>
                  <p *ngFor="let program of programData?.programLocales;let i=index">{{program.programDescription}}</p>
                </div>
              </div>
              <div class="row program-img-row">
                <div class="col-md-3">
                  <div class="program-img-block">
                    <div class="grid img-block">
                      <div class="avatar-zone">
                        <img class="upload-img" [src]="filePathUrl+programData?.programImgPath"
                          [class.uploaded-img]="imgUpload" width="80px">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-5">
                  <div class="master-fieldSet">
                    <fieldset class="language-fieldset">
                      <legend class="fieldset-heading">Program Name</legend>
                      <div class="" *ngFor="let program of programData?.programLocales; let i=index">
                        <div class="{{alignCss[i]}} view-mode">
                          <label>{{program.langauageName}}</label>
                          <p>{{program.programName}}</p>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div> -->
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="view-mode">
                        <label>Reward Type</label>
                        <p>{{programData?.rewardType}}</p>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="view-mode">
                            <label>Start Date</label>
                            <p>{{programData?.startDate |  date:'dd/MM/yyyy'}}</p>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div>
                            <div class="view-mode" *ngIf="programData?.endDate!=null">
                              <label>End Date</label>
                              <p class="mb-0px">{{programData?.endDate |  date:'dd/MM/yyyy'}}</p>
                            </div>
                            <div class="">
                              <mat-checkbox [checked]="programData.isPerpetual" [disabled]="true">
                                <small>Perpetual</small>
                              </mat-checkbox>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3" *ngIf="programData.startTime!=null">
                          <div class="view-mode">
                            <label>Start Time</label>
                            <p>{{startDate | date:'hh:mm a'}}</p>
                          </div>
                        </div>
                        <div class="col-md-3" *ngIf="programData.endTime!=null ">
                          <div class="view-mode">
                            <label>End Time</label>
                            <p>{{endDate | date:'hh:mm a'}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3" *ngIf="programData.pointExpiryIn!=null">
                      <div class="view-mode">
                        <label>Points Expiry In</label>
                        <p>{{programData?.pointExpiryIn=='NOOFDAYS'?'No Of Days':'Fixed Date'}}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="programData.expiryDays!=null">
                      <div class="view-mode">
                        <label>No Of Days</label>
                        <p>{{programData?.expiryDays}}</p>
                      </div>
                      <div class="communication-types">
                        <mat-checkbox [checked]="programData.isAllowExtension" [disabled]="true"><small>Allow
                            Extension</small></mat-checkbox>
                        <mat-checkbox [checked]="programData.isEndOfMonth" [disabled]="true"><small>Allow End of Month
                            Expiry</small></mat-checkbox>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="programData.expiryDate!=null">
                      <div *ngIf="expiryDate">
                        <div class="view-mode">
                          <label>Expiry Date</label>
                          <p class="mb-0px">{{programData?.expiryDate |  date:'dd/MM/yyyy'}}</p>
                        </div>
                        <div class="communication-types">
                          <mat-checkbox [checked]="programData.isAllowExtension" [disabled]="true"><small>Allow
                              Extension</small></mat-checkbox>
                          <mat-checkbox [checked]="programData.isEndOfMonth" [disabled]="true"><small>Allow End of Month
                              Expiry</small></mat-checkbox>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="row mb-20px" *ngIf="programData.rewardType !='STAMPS' && programData.programType!='BASE'"
        style="display: none;">
        <div class="col-md-3 pad-r-0">
          <h3 class="card-title">Limits for Accruals</h3>
          <mat-card>
            <div class="view-mode" *ngIf="programData.maxOverallAccrual!=null">
              <label>Maximum Overall Accruals</label>
              <p>{{programData?.maxOverallAccrual}}</p>
            </div>
            <div class="view-mode" *ngIf="programData.overallLimitPerCustomer!=null">
              <label>Overall Limit per Customer</label>
              <p>{{programData?.overallLimitPerCustomer}}</p>
            </div>
            <div class="view-mode" *ngIf="programData.dailyCustomerLimit!=null">
              <label>Daily Limit Per Customer</label>
              <p>{{programData?.dailyCustomerLimit}}</p>
            </div>
            <div class="view-mode"
              *ngIf="programData.remainingPoints!=null && programData.publishStatus=='LIVE' && programData.programType!='BASE'">
              <label>Remaining Points</label>
              <p>{{programData?.remainingPoints}}</p>
            </div>
          </mat-card>
        </div>
        <!-- <div class="col-md-9">
                  <h3 class="card-title">Value/ Worth of 1 Point</h3>
                  <mat-card class="p-0px">
                  </mat-card>
                  <mat-card class="p-0px">
                      <div class="program-table">
                          <div class="header">
                              <div class="table-cell">
                                  <label class="common-text">Region</label>
                              </div>
                              <div class="table-cell" *ngFor="let currency of currencies">
                                  <label class="head-text">{{currency}}</label>
                              </div>
                          </div>
                          <div class="content">
                              <div class="content-column" *ngFor="let rewardType of rewardTypes" >
                                  <div class="table-cell">
                                      <label class="tier-list">{{rewardType?.tierName}}</label>
                                  </div>
                                  <div class="table-cell" *ngFor="let value of rewardType.rewardValues">
                                      <input type="text" class="input-box" [value]="value?.rewardValue" disabled>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </mat-card>
              </div> -->
      </div>
      <div class="description-block" style="display: none;">
        <h3 class="card-title">Description</h3>
        <mat-card class="description-card">
          <div class="expansion-panel" formArrayName="descriptionArray">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let language of languageList;let i =index" [formGroupName]="i">
                <mat-expansion-panel-header [collapsedHeight]="'38px'" [expandedHeight]="'38px'">
                  <mat-panel-title>
                    {{language.languageName}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="view-content">
                  <label>Content</label>
                  <p [innerHTML]="descriptionText[i]"></p>
                </div>
              </mat-expansion-panel>

            </mat-accordion>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="btm-button-wrap">
      <button class="button secondary-btn" type="button" [routerLink]="['/search-programs']">CANCEL</button>
      <!-- <button class="button primary-btn" type="button" (click)="auditLogDialog()">AUDIT LOG</button> -->
      <button class="button primary-btn" type="button"
        *ngIf="(programData?.approvedStatus=='NEW' || programData?.approvedStatus=='UPDATED')&& !isEndDateExpired"
        (click)="sendForApproval()">SEND FOR APPROVAL</button>
      <button class="button primary-btn" type="button"
        *ngIf="showApprovalBtn && programData?.approvedStatus=='WAITINGAPPROVAL' && !isEndDateExpired"
        (click)="sendForApproval()">APPROVE</button>
      <button class="button primary-btn" type="button" (click)="moveToEdit()"
        *ngIf="programData?.publishStatus!='EXPIRED'">EDIT</button>
    </div>
    <div class="tab-section">
      <mat-card class="tabs-card">
        <mat-tab-group>
          <mat-tab label="Earn Rules">
            <div class="add-btn text-right"
              *ngIf="programData.publishStatus!='LIVE' && programData.publishStatus!='EXPIRED' && programData?.approvedStatus!='APPROVED'">
              <button type="button" class="button primary-btn m-0px" [routerLink]="['/add-earn-rule/'+programId]">
                <span class="add-plus">
                  <img src="assets/images/svg-icons/add_ico.svg" alt="add" class="plus-icon">
                </span>ADD EARN RULE
              </button>
            </div>
            <div class="table-wrap">
              <div class="table-wrap-inner">
                <table mat-table [dataSource]="earnDataSource" matSort #sorter1="matSort"
                  (matSortChange)="sortData($event)">
                  <ng-container matColumnDef="ruleName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> RULE NAME </th>
                    <!-- <td mat-cell *matCellDef="let row"> <u><a class="text-blue"
                          [routerLink]="['/view-earn-rule/'+row.earnRuleId]"> {{ row.ruleName }} </a></u></td> -->
                          <td (click)="viewEarnRule(row.earnRuleId)" mat-cell *matCellDef="let row"> <u><a class="text-blue"
                            > {{ row.ruleName }} </a></u></td>
                        </ng-container>
                  <ng-container matColumnDef="actionType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> ACTION TYPE </th>
                    <td mat-cell *matCellDef="let row">{{ row.actionType }}</td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> ACTION</th>
                    <td mat-cell *matCellDef="let row">{{row.action}}</td>
                  </ng-container>
                  <ng-container matColumnDef="maxOverallAccrual">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> MAXIMUM OVERALL ACCRUALS
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.maxOverallAccrual}}</td>
                  </ng-container>
                  <ng-container matColumnDef="overallLimitCustomer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> OVERALL LIMIT PER CUSTOMER
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.overallLimitCustomer}}</td>
                  </ng-container>
                  <ng-container matColumnDef="dailylLimitCustomer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> DAILY LIMIT PER CUSTOMER
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.dailylLimitCustomer}}</td>
                  </ng-container>
                  <ng-container matColumnDef="remainingPoints">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> REMAINING POINTS</th>
                    <td mat-cell *matCellDef="let row">{{row.remainingPoints!=null?row.remainingPoints:'-'}}</td>
                  </ng-container>
                  <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> START DATE </th>
                    <td mat-cell *matCellDef="let row"> {{row.startDate | date:'dd/MM/yyyy'}}</td>
                  </ng-container>
                  <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> END DATE </th>
                    <td mat-cell *matCellDef="let row"> {{row.endDate==null ? '-': row.endDate  | date:'dd/MM/yyyy'}}
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>
                <!-- <div style="color: red; padding-left: 34em;" *ngIf="earnRuleList.length === 0">
                  No Records Found!
                </div> -->
                <div *ngIf="searchStoreVal" class="select-store-block">
                  <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
                </div>
                <div class="no-records" *ngIf="noRecords">
                  No Records Found!
                </div>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="Burn Rules">
            <div class="add-btn text-right"
              *ngIf="programData.publishStatus!='LIVE' && programData.publishStatus!='EXPIRED' && programData?.approvedStatus!='APPROVED' && (programData.rewardType=='POINTS' || programData.rewardType=='STAMPS' || programData.rewardType=='BASEREWARD') && burnRuleList.length==0">
              <button type="button" class="button primary-btn m-0px" [routerLink]="['/add-burn-rule/'+programId]">
                <span class="add-plus">
                  <img src="assets/images/svg-icons/add_ico.svg" alt="add" class="plus-icon">
                </span>ADD BURN RULE
              </button>
            </div>
            <div class="table-wrap">
              <div class="table-wrap-inner">
                <table mat-table [dataSource]="burnDataSource" matSort #sorter2="matSort"
                  (matSortChange)="sortDataBurn($event)">
                  <ng-container matColumnDef="ruleName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> RULE NAME </th>
                    <td mat-cell *matCellDef="let row"> <u><a class="text-blue"
                         (click)="ViewBurnRule(row.burnRuleId)"> {{ row.ruleName }} </a></u></td>
                          <!-- <td mat-cell *matCellDef="let row"> <u><a class="text-blue"
                            [routerLink]="['/view-burn-rule/'+row.burnRuleId]"> {{ row.ruleName }} </a></u></td> -->
                        </ng-container>

                  <ng-container matColumnDef="rewardType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> REDEEM TYPE</th>
                    <td mat-cell *matCellDef="let row">{{row.redeemType}}</td>
                  </ng-container>

                  <ng-container matColumnDef="redeemQty">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> REWARD QTY </th>
                    <td mat-cell *matCellDef="let row">{{ row.redeemQty!==null?row.redeemQty:'-' }}</td>
                  </ng-container>
                  <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> START DATE </th>
                    <td mat-cell *matCellDef="let row"> {{null!=row.startDate? (row.startDate | date:'dd/MM/yyyy'):'-'}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> END DATE </th>
                    <td mat-cell *matCellDef="let row"> {{null!=row.endDate ? (row.endDate  | date:'dd/MM/yyyy'):'-'}}
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="burnDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: burnDisplayedColumns;">
                  </tr>
                </table>
                <!-- <div style="color: red; padding-left: 34em;" *ngIf="burnRuleList.length === 0">
                  No Records Found!
                </div> -->
                <div *ngIf="searchStoreVal" class="select-store-block">
                  <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
                </div>
                <div class="no-records" *ngIf="noRecords">
                  No Records Found!
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </form>
</div>
