<div class="bredcrumb-title-wrap">
    <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
    <div class="title flex-container">
        <h1><span class="left-arrow"><img class="left-img" src="assets/images/svg-icons/leftarrow_black.svg" alt="leftArrow"
          [routerLink]="['/search-faq']"></span>Add FAQ</h1>
        <mat-slide-toggle [(ngModel)]="toggleVal" class="example-margin" [checked]="checked" [disabled]="disabled">
            {{toggleVal==true ? "ONLINE" : "OFFLINE"}}
        </mat-slide-toggle>
    </div>
</div>
<form (submit)="createFAQRequest(faqFormGroup.value)" [formGroup]="faqFormGroup" #createFaqForm="ngForm">
    <div class="page-wrap">
        <mat-card class="card">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="FAQ Category" formControlName="faqCategory" required>
                            <mat-option *ngFor="let cat of faqCategoryList" value="{{cat.faqCategoryId}}">
                                {{cat.faqCategoryTitle}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="faqFormGroup.get('faqCategory').hasError('required')">Please select value
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="field-style field-width" *ngIf="countries.length!=0">
                        <mat-select placeholder="Select country" formControlName="country" required>
                            <mat-option *ngFor="let country of countries" [value]="country.countryId">
                                {{ country.countryName }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="faqFormGroup.get('country').hasError('required')">Please select value</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" formArrayName="faqFormArray">
                <div class="col-md-12" *ngFor="let ln of faqFormGroup['controls']['faqFormArray']['controls']; let i = index;" [formGroupName]="i">
                    <mat-card class="faq-card mb-20px">
                        <div class="lang-field {{langfieldname[i]}}">
                            <p>{{languageList[i].languageName}}</p>
                        </div>
                        <div class="row card-mb">
                            <div class="col-md-10 text-fields">
                                <div class="field-container">
                                    <mat-form-field class="{{alignCss[i]}}">
                                        <input matInput placeholder="Question" formControlName="question" required>
                                        <mat-error *ngIf="ln.get('question').hasError('required')">Please enter value
                                        </mat-error>
                                        <mat-error *ngIf="ln.get('question').hasError('minlength')">Minimum 2 character(s) required
                                        </mat-error>
                                        <mat-error *ngIf="ln.get('question').hasError('maxlength')">Maximun 150 character(s) allowed
                                        </mat-error>
                                        <mat-error *ngIf="ln.get('question').hasError('pattern')">This special character(s) is not allowed</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="field-container">
                                    <mat-form-field class="{{alignCss[i]}}">
                                        <textarea matInput placeholder="Answer" formControlName="answer" required></textarea>
                                        <mat-error *ngIf="ln.get('answer').hasError('required')">Please enter value
                                        </mat-error>
                                        <mat-error *ngIf="ln.get('answer').hasError('minlength')">Minimum 4 character(s) required
                                        </mat-error>
                                        <mat-error *ngIf="ln.get('answer').hasError('maxlength')">Maximun 1500 character(s) allowed
                                        </mat-error>
                                        <mat-error *ngIf="ln.get('answer').hasError('pattern')">This special character(s) is not allowed</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </mat-card>
        <div class="btm-button-wrap">
            <button type="button" class="button secondary-btn" [routerLink]="['/search-faq']">CANCEL</button>
            <button type="submit" class="button primary-btn" [disabled]="loading == true">SAVE</button>
        </div>
    </div>
</form>