.page-wrap {
    padding: 30px 30px 5px 30px;
    .card-title {
        color: #5f5c5c;
        font-size: 16px;
    }
    .segment-details {
        padding: 0 20px;
    }
    .segment-card {
        // min-height: 100px;
        .segment-rules {
            background-color: #fafafa;
            padding: 20px 14px 0 20px;
            h1 {
                font-size: 3.5rem;
                font-weight: 250;
                padding: 0 40px;
            }
            label {
                color: #504e4e;
                padding-left: 10px;
            }
            .downoad-icon {
                width: 15px;
                margin-right: 10px;
            }
            .download-info {
                font-size: 0.7rem;
                color: #1e61bf;
            }
        }
    }
}

.select-segment {
    top: -5px;
    .uploaded-file {
        word-break: break-all;
        white-space: normal;
    }
    .segment-info {
        font-size: 10px;
        // text-align: right;
        color: #a1a1a1;
        padding-left: 4px;
        label {
            font-size: 11px;
        }
        p {
            color: #504e4e;
        }
    }
}

.segment-title {
    color: #a1a1a1;
}

.segment-loader {
    text-align: center;
    img {
        width: 40px;
    }
}

.custom-segment-dialogbox {
    /deep/ .mat-dialog-container {
        min-width: 70vw;
    }
}

/deep/ .rules-group-container {
    min-height: 55vh;
    height: auto;
    overflow-y: auto;
}

.loading-img-hide {
    img {
        width: 30px;
    }
}

.disablebtn {
    pointer-events: none;
}

.getdetails,
.getdetailswithcount {
    cursor: pointer;
}

.disable-cusbtn {
    pointer-events: none !important;
    cursor: not-allowed !important;
}

.segment-btndisable {
    pointer-events: none !important;
}

.getcustomer-download {
    display: flex;
    align-items: center;
}

.download-loader {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.upload-btn-text {
    cursor: pointer;
    font-size: 10px;
    color: #145cbf;
}

.custom-field {
    label {
        color: #7c7b7b;
        margin-bottom: 0;
        white-space: pre-wrap;
    }
    p {
        margin-bottom: 0;
    }
    .product_sku {
        display: inline-block;
    }
    .button_wrap {
        // display: inline-block;
        padding-left: 10px;
    }
}

.upload-icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    cursor: pointer;
    img {
        margin-right: 5px;
    }
    .text {
        color: #145cbf !important;
        font-size: 11px;
        cursor: pointer;
    }
}

// .custom-field{
//     pointer-events: none;
// }
// .segmentMem,.segmentNonMem,.segment_Mem_andNon,.segmentMem_Rule{
//     pointer-events: initial;
// }
.disableSegmentOptions {
    .mat-radio-group {
        /deep/ .mat-radio-button {
            pointer-events: none;
            width: 100%;
        }
    }
    .mat-radio-group {
        /deep/ .mat-radio-button.enableRadio {
            pointer-events: initial;
        }
    }
}

.segemnt_ruleInfo {
    display: flex;
    align-items: center;
}

.removesegment {
    padding-left: 10px;
    display: none;
    img {
        margin: 0 5px;
    }
    .tertiary-btn {
        border: 0;
        margin: 0;
        padding: 0;
    }
}

.segment_label {
    margin: 0;
    font-size: 12px;
    white-space: pre-wrap;
}

.removesegmentDisplay {
    // display: none;
    .removesegment {
        display: block;
    }
}

.select-segment {
    /deep/ .mat-radio-group {
        /deep/ .mat-radio-button {
            width: 100%;
        }
    }
}


.err-msg {
    color: red;
    font-size: 10px;
}