<div class="bredcrumb-title-wrap">
    <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
    <div class="title">
        <h1>Masters</h1>
    </div>
</div>
<div class="page-wrap-masters">
    <div class="row master-cards">
        <div class="col-md-3 master-list master-left">
            <mat-card>
                <ul class="master_listing">
                    <!-- <li><a href="javascript:void(0)" [routerLink]="['/search-customer-type']">Customer Type</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-merchant']">Merchant</a></li> -->
                    <!-- <li><a href="javascript:void(0)" [routerLink]="['/search-brand']">Brand</a></li> -->
                    <li><a href="javascript:void(0)" [routerLink]="['/search-country']">Countries</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-cities']">Cities</a></li>
                    <li class="master-list-selected"><a href="javascript:void(0)" [routerLink]="['/search-malls']">Malls</a></li>
                    <!-- <li><a href="javascript:void(0)" [routerLink]="['/search-course']">Course</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-cuisine']">Cuisine</a></li> -->
                    <li><a href="javascript:void(0)" [routerLink]="['/search-currency']">Currency</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-currency-conversion']">Currency
                            Conversion</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-brand-category']">Brand Category</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-language']">Language</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-faq-category']">FAQ Category</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-about-us-category']">About Us Category</a>
                    </li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-feedback']">Feedback</a></li>
                    <!-- <li><a href="javascript:void(0)" [routerLink]="['/search-partner']">Partner</a></li> -->
                    <li><a href="javascript:void(0)" [routerLink]="['/search-enquiry-type']">Enquiry Type</a></li>
                    <!-- <li><a href="javascript:void(0)" [routerLink]="['/add-taxation']">Taxation</a></li> -->
                    <li><a href="javascript:void(0)" [routerLink]="['/add-product-tag']">Product Tag</a></li>


                </ul>
            </mat-card>
        </div>
        <div class="col-md-9 master-right">
            <mat-card class="master-content">
                <div class="country-card">
                    <div class="subtitle flex-center">
                        <h3>
                            <span class="left-arrow">
                                <img class="left-img" src="assets/images/svg-icons/left_arrow.png" alt="leftArrow"
                                    [routerLink]="['/search-malls']">
                            </span>Add Mall
                        </h3>
                        <div class="slider">
                            <mat-slide-toggle [(ngModel)]="toggleVal" (change)="toggleStatus($event)" class="mat-slide-toggle">{{statusValue}}</mat-slide-toggle>
                        </div>
                    </div>
                    <form id="addMallForm" (submit)="createMall(mallFormGroup.value)" [formGroup]="mallFormGroup" #createMallForm="ngForm">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="master-fieldSet">
                                    <fieldset class="language-fieldset" formArrayName="mallLocale">
                                        <legend class="fieldset-heading">Mall Name</legend>
                                        <div *ngFor="let locale of mallFormGroup['controls']['mallLocale']['controls'];let i = index;" [formGroupName]="i">
                                            <div class="example-container">
                                                <mat-form-field class="{{alignCss[i]}}">
                                                    <input matInput placeholder="{{languageList[i].languageName}}" maxlength="100" formControlName="mallName" required>
                                                    <mat-error *ngIf="locale.get('mallName').hasError('required')">
                                                        Please enter value</mat-error>
                                                    <mat-error *ngIf="locale.get('mallName').hasError('minlength')">
                                                        Minimum 2 characters required</mat-error>
                                                    <mat-error *ngIf="locale.get('mallName').hasError('pattern')">
                                                        Invalid characters entered</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row mt-30px">
                                    <div class="col-md-6">
                                        <div class="example-container">
                                            <mat-form-field class="field-style">
                                                <input matInput placeholder="Mall Code" maxlength="10" formControlName="mallCode" required>
                                                <mat-error *ngIf="mallFormGroup.get('mallCode').hasError('required')">
                                                    Please enter value</mat-error>
                                                <mat-error *ngIf="mallFormGroup.get('mallCode').hasError('pattern')">
                                                    This special character(s) is not allowed</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="field-style field-width">
                                            <mat-select id="country" matInput placeholder="Country Name" #countryInput formControlName="country" (selectionChange)="getAllCities(countryInput.value)" required>
                                                <mat-option value="">Select</mat-option>
                                                <mat-option *ngFor="let country of countries" value="{{country.countryId}}">
                                                    {{ country.countryName }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="mallFormGroup.get('country').hasError('required')">Please select value</mat-error>
                                        </mat-form-field>
                                        <div *ngIf="showCountryError" style="color:red;margin-top:-1em">
                                            <small>Please select country</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="grid img-block">
                                            <div class="avatar-zone">
                                                <label *ngIf="imagePath==''" class="image-uploadText" [class.placeholder-img]="imgUpload">Mall Image</label>
                                                <img *ngIf="imagePath!=''" [src]="filePathUrl+imagePath" width="160px" height="140px">
                                            </div>
                                            <div class="remove-img" *ngIf="imagePath!=''">
                                                <span (click)="removeImage()"> <img
                                                        src="assets/images/icons/filter_close_ico.png"
                                                        alt=""><label>Remove</label></span>
                                            </div>
                                            <!-- <input style="display:none;" #uploadEl type="file" *ngIf="imagePath==''" class="upload_btn" (change)="uploadImage($event.target.files)" />
                                            <div class="overlay-layer" *ngIf="imagePath==''">
                                                <img class="upload-icon" src="assets/images/svg-icons/uploadgray_ico.svg" alt="">Upload Image
                                            </div> -->
                                            <input style="display:none;" type="file" #uploadEl class="upload_btn" (change)="uploadImage($event.target.files)" />
                                            <div class="text-center" style="width: 75%;" *ngIf="imagePath==''">
                                                <span class="upload-btn-text" (click)='uploadEl.click()'>
                                                    <span class="upload-icon">
                                                        <img src="assets/images/svg-icons/uploadgray_ico.svg"
                                                            width="12px" alt="Img">
                                                    </span>Upload Image
                                                </span>
                                            </div>



                                        </div>
                                        <div class="image-error" *ngIf="showImageError">Please upload image</div>
                                        <div *ngIf="imageErrMsg != undefined" class="image-error">{{imageErrMsg[i]}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <mat-form-field class="field-style field-width">
                                            <mat-select placeholder="City" formControlName="city" required (click)="checkCountryId()">
                                                <mat-option value="">Select</mat-option>
                                                <mat-option *ngFor="let city of cities" [value]="city.cityId" >
                                                  {{ city.cityName }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="mallFormGroup.get('city').hasError('required')">Please select value</mat-error>
                                        </mat-form-field> -->
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="City" aria-label="City" [matAutocomplete]="cityAutoComplete" [formControl]="cityCtrl">
                                            <mat-autocomplete #cityAutoComplete="matAutocomplete">
                                                <mat-option *ngFor="let city of filteredCities | async" [value]="city.cityName" (click)="getAllcity(city.cityId)" #cityInput>
                                                    <span>{{city.cityName}}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf="cityCtrl.hasError('required')">
                                                Please select value</mat-error>
                                        </mat-form-field>
                                        <div class="example-container">
                                            <mat-form-field class="field-style">
                                                <input matInput placeholder="Latitude" maxlength="15" formControlName="latitude" required>
                                                <mat-error *ngIf="mallFormGroup.get('latitude').hasError('required')">
                                                    Please enter value</mat-error>
                                                <mat-error *ngIf="mallFormGroup.get('latitude').hasError('pattern')">
                                                    Only numbers and decimal values are allowed</mat-error>
                                                <mat-error *ngIf="mallFormGroup.get('latitude').hasError('minlength')">
                                                    Minimum 2 digits required</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="example-container">
                                            <mat-form-field class="field-style">
                                                <input matInput placeholder="Longitude" maxlength="15" formControlName="longitude" required>
                                                <mat-error *ngIf="mallFormGroup.get('longitude').hasError('required')">
                                                    Please enter value</mat-error>
                                                <mat-error *ngIf="mallFormGroup.get('longitude').hasError('pattern')">
                                                    Only numbers and decimal values are allowed</mat-error>
                                                <mat-error *ngIf="mallFormGroup.get('longitude').hasError('minlength')">
                                                    Minimum 2 digits required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btm-button-wrap">
                            <button type="button" class="site_btn gray_btn" [routerLink]="['/search-malls']">CANCEL</button>
                            <button type="submit" class="button primary-btn" [disabled]="loading">ADD</button>
                        </div>
                    </form>
                </div>
            </mat-card>
        </div>
    </div>
</div>