.page-wrap {
    padding: 1.5em;
}

/deep/.mat-dialog-container {
    min-width: 25vw;
}   
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        font-size: 24px;
        color: #212529;
    }
}
.close-icon {
    cursor: pointer;
}
.err-msg{
    color:red;
    font-size: 12px;
}
.loading-img-hide{
    img{
      width: 30px;
    }
  }

  .add-txn-btn{
      display: flex;
      align-items: center;
      justify-content: center;
  }