<div class="bredcrumb-title-wrap">
    <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
    <div class="title">
        <h1>Masters</h1>
    </div>
</div>
<div class="page-wrap-masters">
    <div class="row master-cards">
        <div class="col-md-3 master-list master-left">
            <mat-card>
                <ul class="master_listing">
                    <!-- <li><a href="javascript:void(0)" [routerLink]="['/search-customer-type']">Customer Type</a></li>
          <li><a href="javascript:void(0)" [routerLink]="['/search-merchant']">Merchant</a></li> -->
                    <!-- <li class="master-list-selected"><a href="javascript:void(0)" [routerLink]="['/search-brand']">Brand</a></li> -->
                    <li><a href="javascript:void(0)" [routerLink]="['/search-country']">Countries</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-cities']">Cities</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-malls']">Malls</a></li>
                    <!-- <li><a href="javascript:void(0)" [routerLink]="['/search-course']">Course</a></li>
          <li><a href="javascript:void(0)" [routerLink]="['/search-currency']">Currency</a></li> -->
                    <li><a href="javascript:void(0)" [routerLink]="['/search-currency-conversion']">Currency Conversion</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-brand-category']">Brand Category</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-language']">Language</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-faq-category']">FAQ Category</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-about-us-category']">About Us Category</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-feedback']">Feedback</a></li>
                    <!-- <li><a href="javascript:void(0)" [routerLink]="['/search-partner']">Partner</a></li> -->
                    <li><a href="javascript:void(0)" [routerLink]="['/search-enquiry-type']">Enquiry Type</a></li>
                    <!-- <li><a href="javascript:void(0)" [routerLink]="['/add-taxation']">Taxation</a></li> -->
                    <li><a href="javascript:void(0)" [routerLink]="['/add-product-tag']">Product Tag</a></li>


                </ul>
            </mat-card>
        </div>
        <div class="col-md-9 master-right">
            <mat-card class="master-content">
                <div class="country-card">
                    <div class="subtitle flex-center mb-25px">
                        <h3>
                            <span class="left-arrow">
                <img class="left-img" src="assets/images/svg-icons/left_arrow.png" alt="leftArrow"
                  [routerLink]="['/search-brand']">
              </span>Sherton Grand
                        </h3>
                        <div class="slider">
                            <mat-slide-toggle [checked]="checked" [disabled]="disabled" class="mat-slide-toggle"></mat-slide-toggle>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="master-fieldSet">
                                <fieldset class="language-fieldset">
                                    <legend class="fieldset-heading">Brand Name *</legend>
                                    <!-- <div class="view-label" *ngFor="let m of mallData.mallLocales; let i=index">
                                               <div class="{{alignCss[i]}}">
                                                   <label>{{m.languageName}}</label>
                                                   <p>{{m.mallName}}</p>
                                                </div>
                                           </div> -->

                                    <div class="view-label">
                                        <label>English</label>
                                        <p>Birthday Template</p>
                                    </div>
                                    <div class="view-label">
                                        <div class="arabic-alignment">
                                            <label>Arabic</label>
                                            <p>Birthday Template</p>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row mt-30px">
                                <div class="col-md-6">
                                    <div class="view-label">
                                        <label>Brand Code*</label>
                                        <p>PHAKT</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="view-label">
                                        <label>Brand Category*</label>
                                        <p>Hotel</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="view-label">
                                        <label>Course Image*</label>
                                    </div>
                                    <!-- <div class="grid img-block">
                                                     <div class="avatar-zone" *ngIf="mallData.imagePath!=''">
                                                        <img [src]="filePathUrl+mallData.imagePath"  width="160px" height="140px">
                                                    </div> 
                                                </div> -->
                                    <div class="avatar-zone view-label">
                                        <img src="assets/images/store-office.jpg" style="object-fit: fill">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="view-label">
                                        <label>Enter Website*</label>
                                        <p>United Arab Emirates</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="view-label">
                                        <label>Merchant*</label>
                                        <p>Dubai</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="view-label">
                                        <label>Enter Contact Number</label>
                                        <p>2348512545</p>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6">
                    <div class="view-label">
                      <label>Course Image*</label>
                    </div> -->
                                <!-- <div class="grid img-block">
                                                 <div class="avatar-zone" *ngIf="mallData.imagePath!=''">
                                                    <img [src]="filePathUrl+mallData.imagePath"  width="160px" height="140px">
                                                </div> 
                                            </div> -->
                                <!-- <div class="avatar-zone">
                      <img src="assets/images/store-office.jpg" style="object-fit: fill">
                    </div>
                  </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btm-button-wrap">
                    <button type="button" class="site_btn gray_btn" [routerLink]="['/search-brand']">CANCEL</button>
                    <button type="button" class="button primary-btn" [routerLink]="['/edit-brand']">EDIT</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>