
  .mat-form-field {
    width: 100%;
  }
  .table-input {
    width: 85px;
    .mat-form-field {
      width: 75%;
    }
  }
  .add-card {
    margin-bottom: 10px;
  }
  .button{
    color: #fff;
  }


