.footer {
    // position: absolute;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 35px;
    z-index: 9999;
    background: #fafafa;
    .footer-height {
        justify-content: space-evenly;
    }
    .mat-toolbar.mat-primary {
        background: black;
        color: #6E6E6E;
    }
    .p-font-10 {
        font-size: 10px;
        top: 3px;
    }
}
