.page-wrap {
    padding: 1.5em 1.5em 3em;
}
.head{
    margin: 10px;
    .h5{
        color: rgb(153, 148, 148);
    }
    p {
        margin-top: 5px;
        padding-left: 10px;
        color: #838383;
    }
}