.labelColor{
    .col {
        label{
            color:#747070;
            font-size: 13px;
            font-weight:bold
        }
    }
        
   
}
button{
    margin-bottom:10px;
}

.close-icon{
    padding-top:10px;
    padding-right:10px;
}
h6{
    padding-left:10px;
    color:#5F5C5C;
    
}