/deep/ .left-sidenav-panel {
    display: none !important;
}

/deep/ .header_logo {
    display: none !important;
}

/deep/ .dropdown-bttn-block {
    display: none !important;
}

/deep/ .header-right {
    display: none !important;
}

/deep/ .footer {
    display: none !important;
}

.oid {
    font-size: 20px;
    font-weight: bold;
}

.pad-t {
    padding-top: 15px;
}

.pad-b {
    padding-bottom: 15px;
}

.invoice {
    font-size: 18px;
}