.page-wrapper{
    padding: 5px 25px 25px;
}
.main-header {
    position: relative;
}
.left-panel {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}
.right-panel {
    position: absolute;
    right: 0%;
}
