<div class="page-wrap">
        <div class="bredcrumb-title-wrap">
            <!-- <form class="filter-wrap" [formGroup]="searchUserForm" (submit)="searchVal(searchUserForm.value)"> -->
            <form class="search-wrap filter-wrap" [formGroup]="searchStoreForm">
                <div class="row common-search">
                    <div class="col-md-2 store-title">
                        <h6>Select Stores</h6>
                    </div>
                    <div class="col-md-10">
                        <input type="text" formControlName="searchtxt" placeholder="Search Store" (keydown.enter)="eventPreventDefault($event,true)" />
                        <span class="search-btn" (click)="eventPreventDefault($event,true)"></span>
                        <div class="filter-btn-wrap">
                            <span class="filter-btn" (click)="openFilter();" [ngClass]="status ? 'open' : 'close'"></span>
                        </div>
                    </div>
                    <div class="close-icon text-right">
                        <img src="assets/images/icons/filter_close_ico.png" (click)="onCloseClick()" alt="">
                    </div>
                </div>
                <div class="feild-search" *ngIf="!status">
                    <div class="row feild-search-inner">
                        <!-- <div *ngIf="Disable" class="col-md-3">
                            <mat-select-autocomplete name="BRAND" ngDefaultControl [placeholder]="'BRAND'" #brandInput [options]="brandValueList | sortBy:'asc':'brandName' " [display]="'brandName'" [value]="'value'" (selectionChange)="getAllCountries($event)" [multiple]='true' [labelCount]="1"
                                [selectedOptions]="selectedBrandOptions" [formControl]="searchStoreForm.controls['brand']">
                            </mat-select-autocomplete>
                        </div> -->
                        <!-- <div class="col-md-3" style="margin-top: 12px;">
                            <mat-form-field>
                                <mat-select placeholder="COUNTRY" formControlName="countryName" #countryInput (selectionChange)="getAllCities(countryInput.value,brandInput.value)">
                                    <mat-option [value]="country.countryId" *ngFor="let country of countries">
                                        {{country?.countryName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->
                        <div class="col-md-3">
                            <label class="mat-label-select">COUNTRY</label>
                            <mat-select-autocomplete #countryInput name="Country" ngDefaultControl [options]="countryList" [display]="'countryName'" [value]="'value'" [multiple]='true' [labelCount]="1" (selectionChange)="getAllCities($event)" [formControl]="searchStoreForm.controls['countryName']"
                                [selectedOptions]="selectedCountryOptions">
                            </mat-select-autocomplete>
                        </div>
                        <div class="col-md-3">
                            <label class="mat-label-select">CITY</label>
                            <mat-select-autocomplete name="CITY" ngDefaultControl #cityInput [options]="cityList" [display]="'cityName'" [value]="'value'" [multiple]='true' [labelCount]="1" (selectionChange)="getAllMalls($event,countryInput.value,cityInput.value)"
                                [selectedOptions]="selectedCityOptions" [formControl]="searchStoreForm.controls['cityName']">
                            </mat-select-autocomplete>
                        </div>
                        <div class="col-md-3">
                            <label class="mat-label-select">MALL</label>
                            <mat-select-autocomplete #mallInput name="MALL" ngDefaultControl [options]="mallList" [display]="'mallName'" [value]="'value'" [multiple]='true' [labelCount]="1" [selectedOptions]="selectedMallOptions" [formControl]="searchStoreForm.controls['mall']">
                            </mat-select-autocomplete>
                        </div>
                        <div class="filter-btn-wrap">
                            <div class="">
                                <button class='button quaternary-btn' (click)="resetForm()">RESET</button>
                                <button class='button tertiary-btn' type="button" (click)="isFilterOn=true;eventPreventDefault($event,true)">APPLY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-wrap">
            <div class="total-val-block">
                <div class="total-value-block" *ngIf="totalRecordVal">
                    <div class="total-value">
                        <p>Total Stores : </p>
                        <span>{{ resultsLength}}</span>
                    </div>
                </div>
                <div class="total-value-block" *ngIf="totalFilterRecordVal">
                    <div class="total-value">
                        <p>Filtered Stores : </p>
                        <span>{{resultsLength}}</span>
                    </div>
                </div>
                <div class="total-value-block">
                    <div class="total-value">
                        <p>Selected Stores : </p>
                        <span>{{selection.selected.length}}</span>
                    </div>
                </div>
            </div>
            <div class="table-wrap selectall-table" [class.disabletable]="disabledTable">
                <div class="table-wrap-inner" [class.tablealign]="!status">
                    <table mat-table [dataSource]="dataSource" matSort malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" disabled="{{isDisabled}}">
                                </mat-checkbox> ALL
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" disabled="{{isDisabled}}">
                                </mat-checkbox>
                            </td>
                        </ng-container>
    
                        <ng-container matColumnDef="storeId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>STORE ID</th>
                            <td mat-cell *matCellDef="let row">{{ row.storeId }}</td>
                        </ng-container>
    
                        <ng-container matColumnDef="brandName">
                            <th mat-header-cell *matHeaderCellDef>BRAND NAME</th>
                            <td mat-cell *matCellDef="let row">{{ row.brandName }}</td>
                        </ng-container>
    
                        <ng-container matColumnDef="storeName">
                            <th mat-header-cell *matHeaderCellDef>STORE NAME</th>
                            <td mat-cell *matCellDef="let row">{{ row.storeName }}</td>
                        </ng-container>
    
                        <ng-container matColumnDef="mallName">
                            <th mat-header-cell *matHeaderCellDef>MALL</th>
                            <td mat-cell *matCellDef="let row">{{ row.mallName }}</td>
                        </ng-container>
    
                        <ng-container matColumnDef="address">
                            <th mat-header-cell *matHeaderCellDef>ADDRESS</th>
                            <td mat-cell *matCellDef="let row">{{ row.storeAddress }}</td>
                        </ng-container>
    
                        <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef>CITY</th>
                            <td mat-cell *matCellDef="let row">{{ row.cityName }}</td>
                        </ng-container>
    
                        <ng-container matColumnDef="country">
                            <th mat-header-cell *matHeaderCellDef>COUNTRY</th>
                            <td mat-cell *matCellDef="let row">{{ row.countryName }}</td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <div class="no-records" *ngIf="noRecords">
                        No Records Found!
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                            <p>Display Price</p>
    
                    </div>
                    <div class="col-md-2">
                            <mat-form-field>
                                    <mat-select placeholder="Select Currency" [(value)]="displayPriceCurrency">
                                        <mat-option *ngFor="let country of countryList1" [value]="country.currencyCode">
                                            {{country.currencyCode}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error *ngIf="displayPriceCurrencyError && displayPriceCurrency == undefined">
                                    Please Select Currency
                                </mat-error>
                    </div>
                    <div class="col-md-2" >
                            <mat-form-field >
                                    <input [readonly]="valueType == 'AUTO_CALCULATE'" matInput type="text" [(ngModel)]="displayPrice" />
                                </mat-form-field>             
                                <mat-error *ngIf="displayPriceError && displayPrice == undefined">
                                    Please Enter value
                                </mat-error>
                            </div>
               
                    </div>
                <div class="loader-block" *ngIf="loadingResponse">
                    <span class="loading-img-hide">
                  <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="loader">
                </span>
                </div>
                <mat-paginator [length]="resultsLength" #paginator (page)="getUpdate($event)" [pageSize]="10" [pageSizeOptions]="arrlength">
                </mat-paginator>
               
                <!-- <mat-paginator  [length]="resultsLength"
                #paginator (page)="getUpdate($event)" (change)="getStoreData(paginator)" [pageSize]="10"
                [pageSizeOptions]="arrlength"></mat-paginator> -->
                <!-- <mat-paginator (click)="getStoreList(searchStoreForm.value)" [length]="resultsLength"
                (change)="getStoreList(searchStoreForm.value)" #paginator (page)="getUpdate($event)" [pageSize]="10"
                [pageSizeOptions]="arrlength"></mat-paginator> -->
            </div>
            <div class="button-wrap">
                <div class="device-specific-mar">
                        <button class="button primary-btn" type="button" (click)="onSelectStore();clearData()">SUBMIT</button>
    
                    <!-- <button class="button secondary-btn" [mat-dialog-close]="{
                'buttonName': 'CANCEL'
              }">CANCEL</button> -->
                    <!-- <button class="button primary-btn" [mat-dialog-close]="{
                'buttonName': 'SELECT',
                'tableData': selection.selected,
                'totalCount':resultsLength
              }" (click)="clearData()">SELECT</button> -->
                </div>
            </div>
        </div>
    </div>