.login-wrapper {
    height: 100vh;
    .flex-container {
      display:flex;
      .left{
        width: 50%;
        background: #0e0e0e;
        height: 100vh;
      }
      .right{
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        .login-form-wrapper{
          padding: 10px;
  
          width:400px;
          margin: 0 auto;
          .logo-wrap{
            width: 80%;
            margin: 0 auto;
            img{
              width: 250px;
              // height: 100%;
            }
          }
          form{
  
            .login-row{
              margin: 0 auto;
              // width: 85%;
              text-align: center;
              input{
              }
              .login-heading {
                  display: -webkit-box;
                  margin: 24px 0px 0px 0px;
                  font-size: 25px;
              }
              .user-name-wrap{
                input{
                  width: 100%;
                }
                margin: 5px 0;
              }
              .password-wrap{
                input{
                  width: 100%;
                }
                margin: 5px 0;
              }
              .forgot-password-wrap{
                margin: 5px 0;
                font-size:13px;
                align-items: center;
                justify-content: flex-end;
                .forgot-password{
                    .forgot-text {
                        color:#000;
                    }
                }
  
              }
              .login-signup-wrap{
                margin: 5px 0;
                display: flex;
                float: right;
                // justify-content: center;
                button{
                  padding: 8px 48px;
                  border-radius:3px;
                  margin: 0px;
                  color:#fff;
                  cursor: pointer;
                  &.login{
                    background: #FF8E48;
                    border :1px solid #fd8e50;
                    font-weight: 500;
                  }
                  &.signup{
                    background: #343434;
                    border :1px solid #343434;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  .login-main-row{
    margin: 0;
    height: 100vh;
    .left,.right{
      height: 100vh;
    }
  }
  