<div class="page-wrap">
  <div class="search-panel-block">
    <div class="bredcrumb-title-wrap">
      <div class="search-container-block">
        <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
        <div class="search-list">
          <form class="filter-wrap" [formGroup]="searchAboutUsFormGroup" (submit)="indexResetFormdataSearch();searchVal()" #searchAboutUsForm="ngForm">
            <div class="row title-search-row">
              <div class="col-md-4 title-search-col">
                <div class="title">
                  <h1>Search About Us</h1>
                </div>
              </div>
              <div class="col-md-5 title-search-col">
                <div class="searchform-block">
                  <div class="common-search">
                    <input type="text" formControlName="searchVal" placeholder="Search About Us" />
                    <span class="search-btn" (click)="indexResetFormdataSearch();searchVal()"></span>
                    <div class="filter-btn-wrap">
                      <span class="filter-btn" (click)="openFilter();" [ngClass]="status ? 'open' : 'close'"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 title-search-col"></div>
            </div>
            <div class="feild-search" *ngIf="!status">
              <div class="row feild-search-inner">
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select placeholder="Country" formControlName="countryId">
                      <mat-option value="">Select</mat-option>
                      <mat-option *ngFor="let country of countryList" value="{{country.countryId}}">
                        {{ country.countryName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select placeholder="Status" formControlName="status">
                      <mat-option value="ONLINE">ONLINE</mat-option>
                      <mat-option value="OFFLINE">OFFLINE</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="button-wrap">
                  <div class="">
                    <button class='button quaternary-btn' type="button" (click)="reset()">RESET</button>
                    <button class='button tertiary-btn' type="submit">APPLY</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="form-wrap">
      <div class="table-wrap">
        <div class="table-wrap-inner">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="aboutUsId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> ABOUT US ID </th>
              <!-- <td mat-cell *matCellDef="let row"><u><a [routerLink]="['/view-about-us/'+row.aboutUsId]" class="text-blue">
                    {{ row.aboutUsId }} </a></u></td> -->
                    <td mat-cell (click)="viewAboutUs(row.aboutUsId)" *matCellDef="let row"> <u><a 
                      class="text-blue">{{ row.aboutUsId }}</a></u></td>
            </ng-container>

            <ng-container matColumnDef="countryName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> COUNTRY NAME </th>
                <td mat-cell *matCellDef="let row">{{row.countryName}}</td>
              </ng-container>

            <ng-container matColumnDef="contentFor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> CONTENT FOR </th>
              <td mat-cell *matCellDef="let row">{{row.contentFor}}</td>
            </ng-container>
            <ng-container matColumnDef="createdOn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border">CREATED ON </th>
              <td mat-cell *matCellDef="let row">{{row.createdOn}}</td>
            </ng-container>
            <ng-container matColumnDef="modifiedTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> LAST MODIFIED ON </th>
              <td mat-cell *matCellDef="let row"> {{row.modifiedTime | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> STATUS </th>
              <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
        </div>
        <div class="no-records" *ngIf="noRecords">
            No Records Found!
          </div>
          <div *ngIf="searchStoreVal" class="select-store-block">
            <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
          </div>
        <mat-paginator (click)="searchVal()" (change)="searchVal()" [length]="resultsLength" #paginator (page)="getUpdate($event)" [pageSize]="paginationData.pageSize" [pageSizeOptions]="[10,20,50,100]">
        </mat-paginator>
      </div>

    </div>
  </div>
</div>
