.page-wrap {
    padding: 1.3rem;
}
       .img-block{
                .avatar-zone{
                    width: 150px;
                    height: 150px;
                    background-color: #F2F2F2;
                    text-align: center;
                    border: 1px dashed #dbdbdb;
                }
                .upload-img {
                    width: 150px;
                    height: 150px;
                }
                .upload-text{
                    padding: 60px 0;
                    color: #a7a3a3;
                    font-size: 16px;
                }
                .upload-btn-text{
                    width: 100%;
                    color: #145cbf;
                    padding: 10px;
                }
                .upload-icon {
                    width: 12px;
                    height: 12px;
                    margin-right: 5px;
                    cursor: pointer;
                }
                .remove-img{
                     cursor: pointer;
                }
            }
.grid {
    display: grid;
}
.placeholder-img {
    display: none;
}
.uploaded-img{
    display: none;
}

.lang-bg {
    background-color: grey;
}

.faq-card {
    background-color: #F8F8F8;
    position: relative;
    .lang-field {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #c3c3c3;
        p {
            margin-bottom: 0px;
            margin: 10px;
        }
    }
    .text-fields {
        left: 40px;
        top: 33px;
        padding-bottom: 33px;
        .field-container{
            .mat-form-field {
                display: block;
            }
        }
    }
    .img-container {
        left: 37px;
        top: 33px;
    }
}
.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mat-form-field {
    width: 100%;
}
.placeholder-img {
    display: none;
}
.placeholder-imgArabic {
    display: none;
}
.upload-text {
    font-size: 11px;
    color: #095bd0;
    cursor: pointer;
}
.lang-field-right{
    left: auto!important;
    right: 0;
}