.select-tags {
    position: absolute;
    bottom: 0px;
    width: 92%;
}

.alert-message {
    color: #EB1717;
    font-size: 14px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}