
<div class="firstClass">
    <div *ngIf="loading" class="page-loader-block full-page-loader">
        <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
      </div>
              <div class="container">
              <!-- <h4>Note :</h4> -->
              <p>Are you sure you want to update the Delivery switch, this will have a immediate update on the customer app orders.</p>
            
              <div class="clearfix">
                <button type="button" (click)="CheckInfo('Yes')" class="button primary-btn">Yes</button>
                <button type="button"  (click)="CheckInfo('No')" class="button secondary-btn">No</button>
              </div>
            </div>
</div>


   
  