<div class="top-header-block">
    <div class="scroll-part">
        <div class="top-header-fixed">
            <div class="row header row-header">
                <div class="col-md-5">
                    <h5>Select Add-ons</h5>
                </div>
                <div class="col-md-7 text-right">
                    <div class="close-icon">
                        <img src="assets/images/icons/filter_close_ico.png" alt="close_icon" (click)="onCloseClick()">
                    </div>
                </div>
            </div>
            <div class="row category row-col">
                <div class="col-md-12">
                    <mat-form-field>
                        <mat-select placeholder="Select Category" [(ngModel)]="categoryId" (selectionChange)="getAllProducts(categoryId)" required>
                            <mat-option value="0">None</mat-option>
                            <mat-option *ngFor="let parent of parentList" value="{{parent.categoryId}}">
                                {{ parent.categoryName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="list-block-addons">
            <div *ngIf="contentLoader" class="page-loader-block full-page-loader">
                <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
            </div>
            <div class="row productList row-col">
                <div *ngFor="let item of products" class="col-md-4">
                    <div>
                        <div class="image-block">
                            <div class="image-container">
                                <img *ngIf="item.imagePath != ''" [src]="filePathUrl+item.imagePath" alt="Addon Image">
                                <img *ngIf="item.imagePath == ''" src="assets/images/no_image.png" alt="Addon Image">
                            </div>
                        </div>
                        <div class="addon-info">
                            <mat-checkbox (change)="toggleVisibility($event,item)" [(ngModel)]="item.checked">
                                {{item.productName1}}
                            </mat-checkbox>
                            <p class="varientName">{{item.varientName}}</p>
                            <p class="price">Price: {{item.price}}</p>

                        </div>

                        <p *ngIf="ShowError" style="color:red; font-size: 10px;">please select product</p>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="products.length >0" class=" footer text-right footer-addon">
            <button type="button" class="button primary-btn" (click)="createList()">ADD</button>
        </div>
    </div>