<div class="page-wrap">
  <div class="search-panel-block">
    <div class="bredcrumb-title-wrap">
      <div class="search-container-block">
        <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
        <div class="row search-bar">
          <div class="col-md-4 search-bar-col-sm">
            <div class="title">
              <h1>Search Roles & Permissions</h1>
            </div>
          </div>
          <!-- <div class="col-md-6 search-bar-col-sm">
              <div class="common-search">
                <input type="text" maxlength="50" name="keySearch" [(ngModel)]="keySearch" placeholder="Search By Role Name" />
                <span class="search-btn" (click)="getSearchData()"></span>
                <div class="filter-btn-wrap">
                  <span class="filter-btn" (click)="openFilter();" [ngClass]="status ? 'open' : 'close'"></span>
                </div>
              </div>
            </div> -->
          <div class="col-md-6 search-bar-col-sm">
            <div class="searchform-block">
              <div class="common-search">
                <input type="text" name="keySearch" [(ngModel)]="keySearch" (keydown.enter)="searchKey()"
                  maxlength="50" placeholder="Search By Role Name" />
                <span class="search-btn" (click)="searchKey()"></span>
                <div class="filter-btn-wrap">
                  <span class="filter-btn" (click)="openFilter();" [ngClass]="status ? 'open' : 'close'"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 search-bar-col-sm">
            <div class="add-btn button-wrap">
              <button type="button" class="button primary-btn m-0px" [routerLink]="['/create-role']">
                <span class="add-plus">
                  <img src="assets/images/svg-icons/add_ico.svg" alt="add" class="plus-icon">
                </span>ADD NEW ROLE
              </button>
            </div>
          </div>
        </div>
        <div class="filter-wrap">
          <div class="feild-search" *ngIf="!status">
            <div class="row feild-search-inner">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput type="number" name="roleId" [(ngModel)]="roleId" placeholder="Role ID" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-select placeholder="Status" name="roleStatus" [(ngModel)]="roleStatus">
                    <mat-option value="Online">Online</mat-option>
                    <mat-option value="Offline">Offline</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="button-wrap">
                <div class="mt-10px">
                  <button class='button quaternary-btn' (click)="reset()">RESET</button>
                  <button class='button tertiary-btn' (click)="searchKey()">APPLY</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-wrap">
      <div class="table-wrap">
        <div class="table-wrap-inner">
          <table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource.data">
            <ng-container matColumnDef="roleId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ROLE ID</th>
              <td mat-cell *matCellDef="let row"> {{ row.roleId }} </td>
            </ng-container>

            <ng-container matColumnDef="roleName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ROLE NAME</th>
              <!-- <td mat-cell *matCellDef="let row"><u><a [routerLink]="['/view-role/'+ row.roleId]"
                    class="text-blue">{{row.roleName}}</a></u></td> -->
                    <td mat-cell (click)="MoveToView(row.roleId)" *matCellDef="let row"><u><a 
                      class="text-blue">{{row.roleName}}</a></u></td>
            </ng-container>

            <ng-container matColumnDef="modifiedTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> MODIFIED ON </th>
              <td mat-cell *matCellDef="let row"> {{row.modifiedTime}} </td>
            </ng-container>
            <ng-container matColumnDef="createdTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CREATED ON </th>
              <td mat-cell *matCellDef="let row"> {{row.createdTime}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
              <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
          <div *ngIf="searchStoreVal" class="select-store-block">
            <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
          </div>
          <div class="no-records" *ngIf="noRecords">
            No Records Found!
          </div>
          <mat-paginator  [length]="resultsLength" (change)="getSearchData()" #paginator
            (page)="getUpdate($event)" [pageSize]="10" [pageSizeOptions]="[10,20,50,100]">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
