
        <form class="modal-content" >
            <div class="container">
              <!-- <h4>Note :</h4> -->
              <p>Delivery will be temporarily suspended for this store. Are you sure you want to continue?</p>
            
              <div class="clearfix">
                <button type="button" (click)="CheckInfo('Proceed')" class="button primary-btn">PROCEED</button>
                <button type="button"  (click)="CheckInfo('CANCEL')" class="button secondary-btn">CANCEL</button>
              </div>
            </div>
          </form>


   
  