.page-wrap-add-event {
  padding: 1.8em 1.8em 3em 1.8em;
  .lh{
    line-height: 2.4!important;
  }
  .location-item{
    background: #eaeaea;
    /* margin: 10px; */
    padding-top: 10px;
  }
.err-icon{
  width: 12px;
  
    margin-left: 10px;
}
.ct-e{
  color: #f44336;
  font-size: 9px;
  position: relative;
  bottom: 20px;


}
  .brand-msg{
    color: #f45144;
    position: relative;
    bottom: 21px;
  }
  .error-msg{
    color: #f44336;

  }

  .brand-msg2{
    color: #f44336;
    position: relative;
    bottom: -10px;
    left: 60px;
  }
  .ldr{
    width: 40px;
    position: absolute;
    top: 0px;
    left: 92px;
  }
  .default-event{
    margin-top: 13px;
  }
  .loc-header{
    background: #f7f7f7;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #eaeaea;
  }
  .loc-header2{
    background: #ffffff;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .card-title-new {
    color: #000000;
    font-size: 16px !important;
}
  .mt-10{
    margin-top: 10px;
  }
  .loc-text{
  ///  color: #5f5f5f;
    font-family: "muliregular" !important;
    text-align: center;
    margin: 10px auto;
  }
  .coupon-txt{
    width: 100%;
    background: white;
    padding-top: 20px;
    font-family: "muliregular" !important;
    padding-left: 14px;
  }
  .float-right{
    float: right;
  }
  .mat-card{
    box-shadow: none!important;
  }
  .matselect{
    position: relative;
    bottom: 12px;
  }
  .insert-btn{
    border: 1px solid #FF8E48;
    background: #FF8E48;
    padding: 1px 16px;
    border-radius: 2px;
    box-shadow: none;
    color: #fff !important;
    font-size: 13px;
    outline: none;
    margin: 5px;
    font-family: 'muliregular';
    line-height: 28px;
   }
   .disbaled-btn{
    cursor: none!important;
   }
   .aligncb{
    position: relative;
    top: 13px;
    left: 10px;
    span{
      font-size: 11px;
    }
   }
   span {
    .sku-text{
      color: #007bff;
      font-size: 12px;
      cursor: pointer;
     }
   }
   .small-sqare{
 

    background: #f88e48;
    padding: 2px;
  
    border-radius: 2px;
    margin-left: 3px;

    .clear-icon{
      font-size: 11px;
      width: 13px;
      height: 13px;
      cursor: pointer;
    }
   }
.ss{
    background: #f88e48;
    padding: 3px;
    margin: 2px;
    border-radius: 2px;
    .clear-icon{
      font-size: 11px;
      width: 13px;
      height: 13px;
      cursor: pointer;
    }
}

   .pannel-outer{
    background: #eaeaea;
      padding: 10px;
  }
  .pannel-inner{
    background: white;
    padding: 20px 0px;
    margin-bottom: 10px;
  
  }
  .add-btn{
    background-color: #FF8E48;
    border: 1px solid #FF8E48;
    outline: none;
    font-family: 'muliregular';
    color: #fff;
    line-height: 0px;
    padding: 3px;
    position: absolute;
    cursor: pointer;
    img{
      width: 13px;
    }
  }
  .add-btn2{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    outline: none;
    font-family: 'muliregular';
    color: #007bff;
    line-height: 0px;
    padding: 3px;
    position: absolute;
    cursor: pointer;
    img{
      width: 13px;
    }
  }
  .mt-20{
    margin-top: 20px;
  }
  .time{
  
      position: absolute;
      width: 22px;
      right: 0px;
  
  }
  .dark{
    color:#000000;
    font-family: "muliregular" !important;
  }
  .padding-one{
    padding: 20px 11px;
    p{
      margin-top: 10px;
    }
  }
  .nonEditable{
    pointer-events: none;
    opacity: 0.5;
  }
  .nonEditablenew{
    pointer-events: none;
    opacity: 0.5;
  }
  .nonEditablenew1{
    pointer-events: none;
    opacity: 0.5;
  }
  .nonEditablenew2{
    pointer-events: none;
    opacity: 0.5;
  }
  .mat-tab-body{
    background: #ffffff;
  }

  .form-wrap {
    .table-wrap-inner {
     
        th.mat-header-cell {
            font-family: "muliregular" !important;
        }
        td.mat-cell,
        td.mat-footer-cell,
        th.mat-header-cell {
            font-family: "muliregular" !important;
        }
    .mat-icon{
      color: #adadad;
      font-size: 18px;
    }
    tr.mat-header-row {
      height: 45px!important;
  }
    }
}
.img-preview {
  // position: relative;
  // width: 100%;
  // left: 35px;
  p {
      color: #ff8e48;
      margin: 0 30px;
  }
  img {
      width: 200px;
  }
}
.notification-content {
  position: absolute;
  display: flex;
  width: 330px;
  padding: 0 69px;
  top: 77px;
  left: -50px;
  height: 100px;
  overflow-y: auto;
}

.notification-description {
  h6 {
      font-size: 9px;
  }
  p {
      font-size: 8px;
      color: #9b9b9b !important;
  }
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  position: relative;
  margin: 0 15px;
  width: 100%;
  height: 82px;
  overflow-y: auto;
  word-break: break-all;
}
.pushNotification-card {
  background-color: #f8f8f8;
  position: relative;
  .lang-field-right {
      left: auto!important;
      right: 0;
  }
  .lang-field {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: #c3c3c3;
      p {
          margin-bottom: 0px;
          margin: 10px;
          word-break: break-all;
          max-width: 200px;
      }
  }
  .text-fields {
      width: 100%;
      max-width: 650px;
     
      margin: 50px 10px;
      .field-container {
          .mat-form-field {
              display: block;
          }
      }
  }
  // .lefty{

  //   margin: 30px 10px;

  // }
}

.direction {
  direction: rtl !important;
}
.sms-pannel{
  margin-top: 15px;
  .mat-expansion-panel-body{
    padding: 0px;

  }
}
.panelbody{
  .mat-expansion-panel-body{
    padding: 0px;

  }
}
.mat-paginator-page-size-select{
  margin: 6px 4px 0 4px!important;
  width: 56px!important;
}
}
.mat-form-field {
 // width: 100%;
}
.create-fieldSet{
  .language-fieldset{
    padding: 0px 26px 30px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    .fieldset-heading {
        font-size: 10px;
        padding-inline-start: 7px;
        max-width: 30% !important;
    }
}

}
.custom-table-program {
  thead th{
    font-family: "muliregular" !important;
    font-weight: 500;
    font-size: 9px;
    color: #828282;
  }
  td{
    font-family: "muliregular" !important;
    font-size: 12px;
  }
  }
table {
  width: 100%;
}
.tab-demo{
  .mat-tab-label{
    font-family: "muliregular" !important;
      color: black!important;
      opacity: 1!important;
      .mat-tab-label-content{
        font-family: "muliregular" !important;
    }
  }
}
.mat-tab-label {
  .mat-tab-label-content{
      font-family: "muliregular" !important;
  }
 
}

.content-pushimg-block,
.content-smsimg-block {
    .img-block {
        .avatar-zone {
            width: 100px;
            height: 100px;
            background-color: #F2F2F2;
            text-align: center;
            border: 1px dashed #dbdbdb;
        }
        .upload-img {
            width: 100px;
            height: 100px
        }
        .upload-btn-text {
            color: #095bd0;
        }
        .upload-icon {
            width: 12px;
            height: 12px;
            margin-right: 5px;
        }
    }
    .content-img-block {
        display: flex;
        align-items: center;
        .upload-btn-text {
            display: block;
            font-size: 12px;
            margin-top: 5px;
        }
    }
}