
<form [formGroup]="corporateAddDialogForm" (submit)="createCorporateAddDialogForm(corporateAddDialogForm.value)" #selectedAddDialogForm="ngForm">
<mat-card>
    <div class="close-icon text-right">
        <img src="assets/images/icons/filter_close_ico.png" (click)="onCloseClick()" alt="">
      </div>
  <h6>Add  Amount</h6>
  <mat-form-field>
    <mat-select placeholder="Currency" formControlName="currency" required>
      <mat-option *ngFor="let currency of currencies"
          [value]="currency">
          {{ currency.currencyCode }}
      </mat-option>
     
  </mat-select>
  <mat-error *ngIf="corporateAddDialogForm.get('currency').hasError('required')">Please select currency</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Amount" formControlName="amount" maxlength="15" OnlyNumber=true required>
    <mat-error *ngIf="corporateAddDialogForm.get('amount').hasError('required')">Please enter value</mat-error>
    <mat-error *ngIf="corporateAddDialogForm.get('amount').hasError('min')">Please enter value > 0 </mat-error>
    <mat-error *ngIf="corporateAddDialogForm.get('amount').hasError('pattern')">Please enter valid value
       </mat-error>
  </mat-form-field>
  <div class="row">
    <div class="col align-self-end">
      <button type="button" class="button primary-btn btn1"  type="submit">SEND FOR APPROVAL</button>
      <button type="button" class="button secondary-btn btn1" (click)="onCloseClick()">CANCEL</button>
    </div>
  </div>
</mat-card>
</form>
<!-- [mat-dialog-afterclose]="corporateAddDialogForm" -->