.flex-container{
  display: flex;
  justify-content: space-between;
}
.flex-end{
  display: flex;
  justify-content: flex-end;
}
.bredcrumb-title-wrap {
  padding: 0 0 5em;
}
.page-wrap {
    padding: 1.8em 1.8em 3em 1.8em;
  }
  .mat-form-field {
    width: 100%;
  }
  .table-input {
    width: 85px;
    .mat-form-field {
      width: 75%;
    }
  }
  .add-plus {
    padding: 0 0;
    width: 100%;
    .plus-icon {
      width: 9px;
      color: #fff !important;
      margin-right: 5px;
      margin-bottom: 2px;
    }
  }
  .addOns-content {
    background-color: #f7f7f7;
    width: 100%;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 8px;
    margin-top: 10px;
    border-radius: 5px;
    .text {
      color: #4b4b4b;
    }
    img {
      float: right;
    }
  }
  .add-card {
    margin-bottom: 10px;
  }
  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .master-fieldSet {
    .language-fieldset {
      padding: 0px 26px 10px;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      .fieldset-heading {
        font-size: 14px;
        padding-inline-start: 7px;
        max-width: 50% !important;
      }
    }
  }
  .img-block {
    .avatar-width {
      width: 100%;
      height: 150px;
      background-color: #f2f2f2;
      text-align: center;
      margin-bottom: 10px;
      border: 1px dashed #dbdbdb;
    }
    .upload-img {
      width: 100%;
      height: 147px;
    }
    .upload-icon {
      width: 12px;
      height: 12px;
      margin-right: 5px;
      cursor: pointer;
    }
    .upload-text {
      color: #a7a7a7;
      font-size: 16px;
    }
  }
  .placeholder-img {
    display: none;
  }
  .upload-btn-text {
    cursor: pointer;
    font-size: 12px;
    color: #145cbf;
  }
  .remove-img {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      width: 15px;
    }
    label {
      font-size: 13px;
      color: grey;
      padding-left: 5px;
      margin-bottom: 0;
    }
  }
  .faq-card {
    background-color: #F8F8F8;
    position: relative;
    .lang-field {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #c3c3c3;
        p {
            margin-bottom: 0px;
            margin: 8px;
        }
    }
    .text-fields {
        left: 22px;
        top: 26px;
        right: 15px;
        padding-bottom: 30px;
        .field-container{
            .mat-form-field {
                display: block;
            }
        }
    }
}
.view-brands {
  max-width: 96%;
  margin: 0 auto;
  width: 100%;
  .basic-details {
    padding: 1em;
    .basic-details-card {
      margin-bottom: 1em;
    }
  }
}
.tabs-align {
  position: relative;
  top: -53px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
  padding-top: 5px;
}
.brand-category{
  background-color: #F7F7F7;
  width: 45%;
  display: inline-block;
  margin-right: 10px;
  padding: 5px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.keywords-chips{
  @extend .brand-category;
}
.view-details {
  label {
    color: #7C7B7B;
    margin-bottom: 0;
    font-size: 13px;
    width: 100%;
  }
  p {
    color: #000;
    font-size: 15px;
    // margin-bottom: 2em;
  }
}
.search-history {
  .search-bar {
    margin-bottom: 20px;
    padding: 0 8px 0px 8px;
  }
  table {
    width: 100%;
  }
  .top-border {
    border-top-style: inset;
    border-top-width: thin;
    border-top-color: #dbdbdb;
  }
  .common-search{
    text-align: center;
    padding: 10px;
    position: relative;
    width: 55%;
    margin:0 auto;
    display: flex;
    input{
      width: 100%;
      border: 1px solid #EFEFEF;
      border-radius: 5px;
      padding: 0.5em;
      outline: none;
      padding-right: 45px;
    }
    .search-btn{
      position: absolute;
      right:22px;
      top:19px;
      display: inline-block;
      background: url('../../../../../../assets/images/icons/search_ico.png');
      width: 18px;
      height: 18px;
      // padding: 0.5em;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
}

.filter-wrap{
  width: 100%;
  margin: 0 auto;
  padding: 0em;
  .common-search{
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0px;
    position: relative;
    width: 50%;
    input{
      width: 89%;
      border: 1px solid #EFEFEF;
      border-radius: 5px;
      padding: 0.5em;
      outline: none;
      padding-right: 45px;
    }
    .search-btn{
      position: absolute;
      right: 13%;
      top: 13px;
      display: inline-block;
      background: url('../../../../../../assets/images/icons/search_ico.png');
      width: 17px;
      height: 17px;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
    .filter-btn-wrap{
      display: inline-block;
      position: absolute;
      right: 3%;
      top: 5px;
      cursor: pointer;
      .filter-btn{
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url('../../../../../../assets/images/svg-icons/filter_orange.svg');
        &.open{
          background: url('../../../../../../assets/images/svg-icons/filter_orange.svg');
          border: 1px solid #dbdbdb;
          background-repeat: no-repeat;
          border-radius: 5px;
          width: 30px;
          height: 30px;
          padding: 16px;
          background-size: 80% 38%;
          background-position: center center;
          background-color: #fff
        }
        &.close{
          background: url('../../../../../../assets/images/icons/filter_close_ico.svg');
          border: solid;
          border-width: 9px;
          background-color: #FF8E48;
          border-color: #FF8E48;
          height: 33px;
          width: 33px;
          border-radius: 5px;
          background-repeat: no-repeat;
          opacity: 1;
        }
      }
    }
  }
  .feild-search{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 0.2em;
    margin-bottom: 0.5em;
    width:100%;
    .field-search-inner{
      width: 100%;
      margin: 0 auto;
      .col-md-4{
        margin: 10px 0;
      }
    }
  }
}
.table-wrap-inner {
  table {
    width: 100%;
  }
}
.mat-chip-list-wrapper {
  display: inline-block;
}
.mat-standard-chip.mat-chip-with-trailing-icon {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 8px;
  padding-left: 12px;
  word-wrap: break-word;
  // display: inline-block;
  margin: 5px;
  }
  label.astrick::after {
    content: "*";
    }
