<div class="bredcrumb-title-wrap">
    <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
    <div class="title flex justify-content">
        <h1><span class="left-arrow"><img class="left-img" src="assets/images/svg-icons/leftarrow_black.svg"
                    alt="leftArrow"  (click)="moveToPreviousUrl()"></span>View Coupons</h1>

        <mat-slide-toggle (change)="toggleStatus($event)" [(ngModel)]="toggleVal" class="example-margin" [checked]="checked">
            {{toggleVal==true ? "ONLINE" : "OFFLINE"}}
        </mat-slide-toggle>
    </div>
</div>
<div *ngIf="searchStoreVal" class="select-store-block">
    <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
</div>
<div class="page-wrap" *ngIf="!searchStoreVal">
    <div class="coupons-info">
        <div class="basic-details">
            <div class="flex-center">
                <h3 class="card-title">Basic Details</h3>
                <!-- <button class='button tertiary-btn' type="button" [routerLink]="['/edit-coupons/'+id+'/clone']">CLONE
                    COUPON</button> -->
                <button class='button tertiary-btn' type="button" (click)="MoveToEdit(id,'clone')">CLONE
                        COUPON</button>
            </div>
            <mat-card class="basic-details-card" *ngIf="couponData.length!=0">
                <div class="row align-center">
                    <div class="col-md-2">
                        <div class="view-mode">
                            <label>Discount Type</label>
                            <p *ngIf="couponData.discountType == 'TRANSACTION_DISCOUNT_AMOUNT'">Transaction Discount Amount
                            </p>
                            <p *ngIf="couponData.discountType == 'ITEM_DISCOUNT_AMOUNT'">Item Discount Amount</p>
                            <p *ngIf="couponData.discountType == 'ITEM_DISCOUNT'">Item Discount %</p>
                            <p *ngIf="couponData.discountType == 'TRANSACTION_DISCOUNT'">Transaction Discount %</p>
                            <p *ngIf="couponData.discountType == 'DEAL_TYPE'">Deal Type</p>
                             <p *ngIf="couponData.discountType == 'BUY_X_GET_Y'">Buy X Get Y Free</p>
                            <p *ngIf="couponData.discountType == 'BUY_X_GET_Z_DISCOUNT_ON_Y_PRODUCT'">BUY_X_GET_Z_DISCOUNT_ON_Y_PRODUCT</p>
                            <p *ngIf="couponData.discountType == 'BUY_X_GET_Z_DISCOUNT_AMOUNT_ON_Y_PRODUCT'">BUY_X_GET_Z_DISCOUNT_AMOUNT_ON_Y_PRODUCT</p>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="!bogoSection">
                        <div class="view-mode">
                            <label>Percentage% / Amount</label>
                            <p>{{couponData.discountValue}}</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="view-mode">
                            <label>Start Date</label>
                            <p>{{couponData.startDate | date:'M/d/yyyy'}}</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="view-mode">
                            <label>End Date</label>
                            <p>{{couponData.endDate | date:'M/d/yyyy'}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="view-mode">
                            <label>Coupon will Expires in (After Notifying)</label>
                            <p>{{couponData.expiryValue}} {{couponData.expiryType}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="view-mode">
                            <label>Internal Comments</label>
                            <p>{{couponData.internalComment}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="view-mode">
                            <label>Internal Coupon Title</label>
                            <p>{{couponData.internalCouponTitle}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="notification-type">
                            <div class="view-mode">
                                <label>Notification Type</label>
                                <p>{{couponData.notificationType}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="notification-type">
                            <div class="view-mode">
                                <label>Coupon Type</label>
                                <p *ngIf="couponData.couponType == 'TYPE2'">Type 2 Online POS and App Coupons</p>
                                <p *ngIf="couponData.couponType == 'TYPE1'">Type 1 POS Coupon</p>
                                <p *ngIf="couponData.couponType == 'ENTRY_POINT_COUPON'">Entry Point Coupon</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="couponData.couponType == 'TYPE2'" class="row">
                    <div class="col-md-3">
                        <div class="view-mode">
                            <label>Brand</label>
                            <p>{{BrandName}}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="view-mode">
                            <label>Brand Type</label>
                            <p>{{couponData.brandType}}</p>
                        </div>
                    </div>
                    <!-- <div class="col-md-3">
                                <div class="view-mode">
                                    <label>Counpon Type</label>
                                    <p>{{couponData.couponType}}</p>
                                </div>
                                </div> -->
                    <!-- <div class="col-md-3">
                        <div class="view-mode">
                            <label>Channel Type</label>
                            <p>{{couponData.channelType}}</p>
                        </div>
                    </div> -->

                </div>

                <div class="lang">
                    <mat-card class="faq-card mb-20px" *ngFor="let locale of couponData.couponLocales;let i=index">
                        <div class="lang-field" class="{{alignCss[i]}} {{languageDirection[i]}} {{langfield[i]}} lang-field">
                            <p>{{locale.langauageCode}}</p>
                        </div>
                        <div class="row card-mb field-top">
                            <div class="col-md-10 text-fields">
                                <div class="field-container" class="{{alignCss[i]}} {{languageDirection[i]}}">
                                    <div class="view-mode">
                                        <label>Coupon Title</label>
                                        <p>{{locale.couponTitle}}</p>
                                    </div>
                                </div>
                                <div class="field-container" class="{{alignCss[i]}} {{languageDirection[i]}}">
                                    <div class="view-mode">
                                        <label>Description</label>
                                        <p>{{locale.couponDescription}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 img-container">
                                <div class="grid img-block">
                                    <div class="avatar-zone">
                                        <img class="upload-img" [src]="filePathUrl+locale.imagePath" [class.uploaded-img]="imgUpload" width="100px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </mat-card>
        </div>
        <div class="bogo-block mb-1em" *ngIf="bogoSection">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="card-title mb-1em">Customer Buys</h3>
                    <mat-card>
                        <mat-checkbox [checked]="showSpecificProduct" disabled>Specific Product only</mat-checkbox>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="view-mode">
                                    <label>Quantity</label>
                                    <p>{{couponBuys?.quantity ? couponBuys?.quantity : '-'}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="view-mode">
                                    <label>Any product from</label>
                                    <p>{{couponBuys?.buyFrom ? couponBuys?.buyFrom : '-'}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 text-right">
                            </div>
                        </div>
                        <div class="display-selected" *ngIf="couponBuysProducts.length != 0">
                            <div class="product-list" *ngFor="let item of couponBuysProducts; let i = index;">
                                <p class="flex-end">
                                    <span>{{item.productName}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="display-selected" *ngIf="couponBuysCategories.length != 0">
                            <div class="product-list" *ngFor="let item of couponBuysCategories; let i = index;">
                                <p class="flex-end">
                                    <span>{{item.categoryName}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="display-selected" *ngIf="couponBuysFixedProducts.length != 0">
                            <div class="product-list" *ngFor="let item of couponBuysFixedProducts; let i = index;">
                                    <p class="flex-end">
                                        <span>{{item.productName}} ({{item.variantTypeName}})</span>
                                    </p>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-6 pl-0"> 
                    <h3 class="card-title mb-0">Customer Gets</h3>
                    <p class="grey-font">Customer must add the quantity of items specified below to the cart</p>
                    <mat-card>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="view-mode">
                                    <label>Quantity</label>
                                    <p>{{couponGets?.quantity}}</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showSpecificProduct">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="master-fieldSet">
                                        <fieldset class="language-fieldset">
                                            <legend class="fieldset-heading">English</legend>
                                                <label class="sub-text w-100">Buy {{couponBuys?.quantity}}</label>
                                                <div class="view-mode">
                                                    <label>Alert Message</label>
                                                    <p>{{englishBuyAlertMsg}}</p>
                                                </div>
                                                <label class="sub-text w-100">Get {{couponGets?.quantity}}</label>
                                                <div class="view-mode">
                                                    <label>Alert Message</label>
                                                    <p>{{englishGetAlertMsg}}</p>
                                                </div>
                                                <div class="alert-message">
                                                    <label>Offer Alert Message Preview</label>
                                                    <p>{{offerAlertMsgLocale[0]?.buyMessage}} {{offerAlertMsgLocale[0]?.getMessage}}</p>
                                                </div>  
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="display-selected" *ngIf="couponGetsProducts.length != 0">
                                <div class="product-list" *ngFor="let item of couponGetsProducts; let i = index;">
                                    <p class="flex-end">
                                        <span>{{item.productName}} ({{item.variantTypeName}})</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-checkbox disabled [checked]="showMinCouponUse">Set a Maximum number of use per order</mat-checkbox>
                            </div>
                            <div class="col-md-4" *ngIf="showMinCouponUse">
                                <div class="view-mode">
                                    <label>Maximum number of use per order</label>
                                    <p>{{couponGets.minCouponUsePerOffer != null ? couponGets.minCouponUsePerOffer : '-'}}</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="note">At a discount value <small class="grey-tiny">(will be applied same for each
                                    item, Discount will be applied on lowest priced items</small></label>
                        </div>
                        <div class="row">
                            <div class="col-md-12" *ngIf="couponData?.discountType === 'BUY_X_GET_Y'">
                                <p>100% Free Products</p>
                            </div>
                            <div class="col-md-6 flex-center" *ngIf="couponData?.discountType === 'BUY_X_GET_Z_DISCOUNT_ON_Y_PRODUCT'">
                                <!-- <label class="mr-2em">Percentage</label> -->
                                <div class="view-mode">
                                    <label>Percentage</label>
                                    <p>{{couponData.discountValue}}</p>
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"
                                *ngIf="couponData?.discountType === 'BUY_X_GET_Z_DISCOUNT_AMOUNT_ON_Y_PRODUCT'">
                                <div class="view-mode">
                                    <label>Amount</label>
                                    <div *ngFor="let item of couponGets.couponGetsDiscountAmountList | sortBy:'asc':'countryCode'">
                                        <label class="currency-lable w-45">{{item.currencyCode}}:</label><span>{{item.discountAmount}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="code-generation">
            <h3 class="card-title">Code Generation</h3>
            <mat-card class="code-generation-card">
                <div class="row m-0px">
                    <div class="view-mode">
                        <label>Code Generation Type</label>
                        <p *ngIf="couponData.codeGenerationType=='GENERIC'">Generic</p>
                        <p *ngIf="couponData.codeGenerationType=='UNIQUE'">Unique</p>
                        <p *ngIf="couponData.codeGenerationType=='MANUAL'">Manual Upload</p>
                    </div>
                    <div class="col-md-4">
                        <div class="view-mode">
                            <label>{{codeType}}</label>
                            <p *ngIf="manualFileName==''">{{couponData.codeValue}}</p>
                        </div>
                        <div>
                            <p>{{manualFileName}}</p>
                            <p *ngIf="couponData.couponCodeCounts!='' && couponData.couponCodeCounts!=null">{{couponData?.couponCodeCounts}} coupon code selected</p>
                            <p class="" *ngIf="couponData.codeValue != '' && manualFileName != ''">
                                <a href="{{fileUrl}}{{couponData.codeValue}}"><img class="downoad-icon" src="assets/images/svg-icons/download_xl.svg" alt=""><span class="download-info">Download
                                    file uploaded</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="usage-limits">
            <h3 class="card-title">Usage Limits & Restrictions</h3>
            <mat-card class="usage-limits-card">
                <div class="row">
                    <div class="col-md-3">
                        <div class="master-fieldSet">
                            <fieldset class="language-fieldset">
                                <legend class="fieldset-heading">Minimum Order Amount*</legend>
                                <div class="">
                                    <div class="" *ngFor="let minorderAmount of couponData.minOrderAmounts">
                                        <div class="view-mode">
                                            <label>{{minorderAmount.currencyCode}}</label>
                                            <p>{{minorderAmount.orderAmount}}</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="view-mode">
                                    <label>Coupon Usage Limit</label>
                                    <p>{{couponData.couponUsageLimit}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="view-mode">
                                    <label>Usage Limit Per Customer</label>
                                    <p>{{couponData.usageLimitPerCustomer}}</p>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="!bogoSection">
                                <div class="view-mode">
                                    <label>Product SKU Flat File</label>
                                    <p>{{skuFileName}}</p>
                                    <p *ngIf="couponData.skuCounts!='' && couponData.skuCounts!=null">{{couponData?.skuCounts}} sku selected</p>
                                    <p class="" *ngIf="couponData.skuFilePath != '' && couponData.skuFilePath != undefined && couponData.skuFilePath != null">
                                        <a href="{{fileUrl}}{{couponData.skuFilePath}}"><img class="downoad-icon" src="assets/images/svg-icons/download_xl.svg" alt=""><span class="download-info">Download
                                                SKU uploaded</span></a>
                                    </p>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="view-mode">
                                    <label>Coupon Code Usage By</label>
                                    <p>
                                        <mat-checkbox [checked]="couponData.couponUsageBy != false ? true : false" [disabled]="disabled">Anyone Having the code</mat-checkbox>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 flex">
                                <div class="view-mode">
                                    <label>
                                        <u class="text-blue" (click)="openStoresDialog()">{{couponData.selectedStoreCount}} Stores Selected</u>
                                        (of {{couponData.totalStoreCount}} Stores)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="terms-conditions">
            <h3 class="card-title">Terms & Conditions *</h3>
            <mat-card class="terms-conditions-card">
                <!-- <div class="expansion-panel">
                    <mat-accordion>
                      <mat-expansion-panel *ngFor="let couponLocale of couponData.couponLocales;let i=index;">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{couponLocale.langauageName}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                            <div class="pt-20px">
                                <label>Content</label>
                                <div class="content-block" [innerHTML]="text[i]">
                                </div>
                            </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                </div> -->
                <div class="lang">
                    <mat-card class="faq-card mb-20px" *ngFor="let couponLocale of couponData.couponLocales;let i=index;">
                        <div class="lang-field" class="{{alignCss[i]}} {{languageDirection[i]}} {{langfield[i]}} lang-field">
                            <p>{{couponLocale.langauageName}}</p>
                        </div>
                        <div class="row card-mb mt-30px">
                            <div class="col-md-12 text-fields">
                                <div class="pt-20px" class="{{alignCss[i]}} {{languageDirection[i]}}">
                                    <label>Content</label>
                                    <div class="content-block">
                                        {{couponLocale.termsAndCondition}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="btm-button-wrap">
        <button class="button secondary-btn" type="button" [routerLink]="previousUrl">CANCEL</button>
        <!-- <button class="button primary-btn" type="submit" [routerLink]="['/edit-coupons/'+id+'/edit']">EDIT</button> -->
        <!-- <button class="button secondary-btn" type="button" [routerLink]="['/search-coupons']">CANCEL</button> -->
        <button class="button primary-btn" type="button" (click)="MoveToEdit(id,'edit')">EDIT</button>
    </div>
</div>