<div class="bredcrumb-title-wrap">
    <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
    <div class="title flex-container">
        <h1><span class="left-arrow"><img class="left-img" src="assets/images/svg-icons/leftarrow_black.svg" alt="leftArrow"
          [routerLink]="['/search-template']"></span>Create Template</h1>
        <mat-slide-toggle class="example-margin text-right" [(ngModel)]="toggleVal" [checked]="checked">
            {{toggleVal == true ? "ONLINE" : "OFFLINE"}}
        </mat-slide-toggle>
    </div>
</div>
<div class="page-wrap">
    <form id="createTemplateForm" [formGroup]="createTemplateFormGroup" #createTemplateForm="ngForm" (submit)="createTemplates(createTemplateFormGroup.value)">
        <div>
            <mat-card class="template-card">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select placeholder="Template Type" formControlName="selectedTemplateType" required (selectionChange)="formBuild($event.value)" [(ngModel)]="selected">
                                <mat-option value="PUSH">App Push Notification</mat-option>
                                <mat-option value="SMS">SMS</mat-option>
                                <mat-option value="EMAIL">Email</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <input matInput placeholder="Template Name" formControlName="selectedTemplateName" maxlength="50" required>
                            <mat-error *ngIf="createTemplateFormGroup.get('selectedTemplateName').hasError('required')">
                                Please enter value
                            </mat-error>
                            <mat-error *ngIf="createTemplateFormGroup.get('selectedTemplateName').hasError('pattern')">
                                Invalid characters entered</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3" *ngIf="createTemplateFormGroup.get('selectedTemplateType').value !== 'EMAIL' && createTemplateFormGroup.get('selectedTemplateType').value !== 'SMS'">
                        <mat-form-field>
                            <input matInput placeholder="Hyper Link" type="url" formControlName="hyperlink" maxlength="100">
                            <mat-error *ngIf="createTemplateFormGroup.get('hyperlink').hasError('pattern')">Invalid url
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3" *ngIf="createTemplateFormGroup.get('selectedTemplateType').value == 'SMS'">
                        <mat-form-field>
                            <input matInput placeholder="SMS Template Id" type="text" formControlName="smsTemplateId" required>
                            <mat-error *ngIf="createTemplateFormGroup.get('smsTemplateId').hasError('required')">
                                Please enter value
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3" *ngIf="createTemplateFormGroup.get('selectedTemplateType').value == 'SMS'">
                        <mat-form-field>
                            <input matInput placeholder="SMS Entity Id" type="text" formControlName="smsEntityId" required>
                            <mat-error *ngIf="createTemplateFormGroup.get('smsEntityId').hasError('required')">
                                Please enter value
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <form *ngIf="createTemplateFormGroup.get('selectedTemplateType').value == 'PUSH'" [formGroup]="pushNotificationGroup" #notification="ngForm">
                    <div formArrayName="notificationArray" class="custom-scroll">
                        <mat-card class="pushNotification-card mb-20px pad-b-2em" *ngFor="let ln of pushNotificationGroup['controls']['notificationArray']['controls']; let i = index;" [formGroupName]="i">
                            <div class="lang-field {{langfield[i]}}">
                                <p>{{languageList[i].languageName}}</p>
                            </div>
                            <div class="row card-mb {{langfieldname[i]}}">
                                <div class="col-md-9 content-pushimg-block">
                                    <div class="content-img-block">
                                        <div class="grid img-block">
                                            <p class="note-text"><span>image size 1024x512</span></p>
                                            <div class="avatar-zone">
                                                <label *ngIf="uploadFlag[i]==false" class="upload-text" [class.placeholder-img]="imgUpload">Upload Image</label>
                                                <img *ngIf="imagePath.length!=0 && imagePath[i]!=''" class="upload-img" [class.uploaded-img]="imgUpload" [src]="filePathUrl+imagePath[i]" width="80px" height="70px">
                                            </div>
                                            <div class="remove-img pad-b-1em" *ngIf="uploadFlag[i]==true">
                                                <span> <img src="assets/images/icons/filter_close_ico.png" alt="" (click)="removeImage(i)"><label>Remove</label></span>
                                            </div>
                                            <input style="display:none;" #uploadEl type="file" class="upload_btn" (change)="uploadImage($event.target.files,i)" />

                                            <div class="text-center" style="width: 100%;" *ngIf="uploadFlag[i]==false">
                                                <span class="upload-btn-text" (click)='uploadEl.click()'>
                                                    <span class="upload-icon">
                                                        <img src="assets/images/svg-icons/uploadgray_ico.svg" width="12px" alt="Img">
                                                    </span>Upload Image
                                                </span>
                                            </div>
                                        </div>
                                        <div class="text-fields">
                                            <div class="d-flex">
                                                <div class="w-75">
                                                <mat-form-field [class.direction-right]="languageList[i].languageName == 'Arabic'">
                                                    <input matInput placeholder="Subject" required formControlName="subject" [(ngModel)]="textAreaAppSubject[i]" #subInp maxlength="500">
                                                    <mat-error *ngIf="ln.controls['subject'].hasError('required')">Please enter value</mat-error>
                                                    <mat-error *ngIf="ln.controls['subject'].hasError('pattern')">Invalid charecters entered
                                                    </mat-error>
                                                </mat-form-field>
                                                </div>
                                                <div>
                                                    <div id="emojiBtn" (click)="toggleEmojiPicker(i)" style="cursor: pointer;position: absolute;top: 50px; font-size: large;" >😀</div>
                                                    <div style='position: absolute;top: 75px;z-index: 999;'>
                                                        <emoji-mart class="emoji-mart" set="{{set}}" *ngIf="showEmojiPicker[i]" (emojiSelect)="addEmojiAppSubject($event,i)" title="Pick your emoji…"></emoji-mart>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="w-75">
                                                <mat-form-field [class.direction-right]="languageList[i].languageName == 'Arabic'">
                                                    <textarea matInput placeholder="Content" required formControlName="content" [(ngModel)]="textAreaAppContent[i]" #content maxlength="640">
                                                    </textarea>
                                                    <mat-error *ngIf="ln.controls['content'].hasError('required')">Please enter value</mat-error>
                                                </mat-form-field>
                                                </div>
                                                <div>
                                                    <div id="emojiContentBtn" (click)="toggleEmojiPickerAppContent(i)" style="cursor: pointer;position: absolute;top: 129px; font-size: large;">😀</div>
                                                    <div style='position: absolute;top: 155px;z-index: 999;'>
                                                        <emoji-mart class="emoji-mart" set="{{set}}" *ngIf="showEmojiPickerAppCOntent[i]" (emojiSelect)="addEmojiAppContent($event,i)" title="Pick your emoji…"></emoji-mart>
                                                    </div>
                                                </div>
                                                <!-- <mat-error *ngIf="ln.controls['content'].hasError('pattern')" style="font-size: 10px;">
                                                Special character(s) is not allowed</mat-error> -->
                                            </div>
                                            <label class="count-length"> *Indicative character length :{{content.value.length}}/640</label>
                                        </div>
                                    </div>
                                    <div class="store-image">
                                        <div class="grid img-block">
                                            <p class="note-text"><span>image size
                                                1024x512</span></p>
                                            <div class="avatar-zone">
                                                <label class="upload-text" *ngIf="!storeImgFlag[i]" [class.placeholder-img]="imgUpload">Template Detail Image</label>
                                                <img class="upload-img" *ngIf="imagePathTwo.length!=0 && imagePathTwo[i]!=''" [class.uploaded-img]="imgUpload" [src]="filePathUrl+imagePathTwo[i]" width="100px" height="100px">
                                            </div>
                                            <div class="remove-img pad-b-1em" *ngIf="storeImgFlag[i]==true">
                                                <span> <img src="assets/images/icons/filter_close_ico.png" alt=""
                                                    (click)="removeDetailImage(i)"><span>
                                                        <label class="cursor">Remove</label>  
                                                    </span></span>
                                            </div>
                                            <input #uploadImgEl type="file" class="upload_btn display-none" (change)="uploadFullImage($event.target.files,i)" required />
                                            <div class="upload-image-text" *ngIf="!storeImgFlag[i]">
                                                <span class="upload-btn-text" (click)='uploadImgEl.click()'>
                                                <span class="upload-icon">
                                                    <img src="assets/images/svg-icons/uploadgray_ico.svg"
                                                        width="12px" alt="Img">
                                                </span><span class="cursor">Upload Image</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 img-container">
                                    <div class="preview-container">
                                        <div class="img-preview">
                                            <p class="text-preview">Notification Preview</p>
                                            <img src="assets/images/svg-icons/mobile_frame.svg" alt="">
                                            <div class="notification-content">
                                                <div class="notification-description">
                                                    <h6 [class.direction-right]="languageList[i].languageName == 'Arabic'">
                                                        {{ln.get('subject').value}}
                                                    </h6>
                                                    <p [class.direction-right]="languageList[i].languageName == 'Arabic'" style="white-space: pre-line;">
                                                        {{ln.get('content').value}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="add-attribute" style="display: none;">
                                        <button class='button tertiary-btn' type="button" (click)="attributeDialog(i , 'PUSH')">PERSONALIZE</button>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <mat-error *ngIf="showError">Please fill all mandatory fields</mat-error>
                    </div><br><br>
                </form>

                <form *ngIf="createTemplateFormGroup.get('selectedTemplateType').value == 'SMS'" [formGroup]="SMSGroup" #sms="ngForm">
                    <div formArrayName="smsArray" class="custom-scroll">
                        <mat-card class="pushNotification-card mb-20px" *ngFor="let ln of SMSGroup['controls']['smsArray']['controls']; let i = index;" [formGroupName]="i">
                            <div class="lang-field {{langfield[i]}}">
                                <p>{{languageList[i].languageName}}</p>
                            </div>
                            <div class="row card-mb fieldtop">
                                <div class="col-md-7 content-sms img-block">
                                    <div class="content-img-block">
                                        <div class="text-fields {{langfield[i]}}">
                                            <div class="field-container">
                                                <mat-form-field [class.direction-right]="languageList[i].languageName == 'Arabic'">
                                                    <textarea matInput placeholder="Content" required formControlName="content" #content maxlength="640"></textarea>
                                                    <mat-error *ngIf="ln.controls['content'].hasError('required')">Please enter value</mat-error>
                                                    <mat-error *ngIf="ln.controls['content'].hasError('pattern')" style="font-size: 10px;">
                                                        Special character(s) is not allowed</mat-error>
                                                </mat-form-field>
                                                <label class="count-length"> *Indicative character length : {{content.value.length}}/640</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 img-container">
                                    <div class="preview-container">
                                        <div class="img-preview">
                                            <p class="text-preview">Notification Preview</p>
                                            <img src="assets/images/svg-icons/mobile_frame.svg" alt="">
                                            <div class="notification-content">
                                                <div class="notification-description">
                                                    <p [class.direction-right]="languageList[i].languageName == 'Arabic'" style="white-space: pre-line;">
                                                        {{ln.get('content').value}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="add-attribute" style="display: none;">
                                        <button class='button tertiary-btn' type="button" (click)="attributeDialog(i , 'SMS')">PERSONALIZE</button>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <mat-error *ngIf="showError">Please fill all mandatory fields</mat-error>
                    </div><br><br>
                </form>

                <form *ngIf="createTemplateFormGroup.get('selectedTemplateType').value == 'EMAIL'" [formGroup]="EmailGroup"
                    #email="ngForm">
                    <div class="email-panel" class="custom-scroll">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-accordion (selectedTabChange)="call($event)" formArrayName="emailArray">
                                    <mat-expansion-panel [class.right-panel]="languageList[i].languageName=='Arabic'"
                                        (opened)="panelOpenState = true;expandDataEmail()" (closed)="panelOpenState = false"
                                        *ngFor="let ln of EmailGroup['controls']['emailArray']['controls']; let i = index;"
                                        [formGroupName]="i">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{languageList[i].languageName}}
                                            </mat-panel-title>
                
                                        </mat-expansion-panel-header>
                                        <div class="email_subject {{langfield[i]}}" style="display: flex;">
                                            <mat-form-field [class.direction-right]="languageList[i].languageName == 'Arabic'">
                                                <input matInput placeholder="Subject" required formControlName="subject"
                                                    maxlength="500">
                                                <mat-error *ngIf="ln.controls['subject'].hasError('required')">Please enter value
                                                </mat-error>
                                                <mat-error *ngIf="ln.controls['subject'].hasError('pattern')">Invalid characters entered
                                                </mat-error>
                                                <mat-error *ngIf="ln.controls['subject'].hasError('minlength')">
                                                    Character Minlength Should be 4
                                                </mat-error>
                                            </mat-form-field>
                                            <div class="preview-title" style="display: none;">
                                                <button class='button tertiary-btn' type="button"
                                                    (click)="attributeDialog(i , 'EMAIL')">PERSONALIZE</button>
                                            </div>
                                        </div>
                                        <div>
                                            <button id="undoButton" class="control-button">Undo</button>
                                            <button id="redoButton" class="control-button">Redo</button>
                                            <button id="codeEditor" class="control-button">Code editor</button> 
                                            <!-- <button id="export" class="control-button" (click)="onExportHtml()">Export</button> -->
                                        </div>
                                        <!-- <editor *ngIf="languageList[i].languageName != 'Arabic'" [init]="{
                                                                              plugins: 'code, preview ,print,fullpage, searchreplace, directionality, visualblocks, visualchars, fullscreen, image, link, media, template, codesample, table, charmap, hr, pagebreak, nonbreaking, anchor, toc, insertdatetime, advlist, lists, wordcount, imagetools, textpattern, help',
                                                                              toolbar:'code preview',
                                                                              height : '480'
                                                                                    }" required formControlName="content"
                                                            [class.direction-right]="languageList[i].languageName == 'Arabic'">
                                                        </editor>
                                                        <editor id="arabicID" *ngIf="languageList[i].languageName == 'Arabic'" [init]="{
                                                                              plugins: 'code, preview ,print,fullpage, searchreplace, directionality, visualblocks, visualchars, fullscreen, image, link, media, template, codesample, table, charmap, hr, pagebreak, nonbreaking, anchor, toc, insertdatetime, advlist, lists, wordcount, imagetools, textpattern, help',
                                                                              toolbar:'ltr rtl code preview',
                                                                              directionality: 'rtl',
                                                                              height : '480'
                                                                                    }" required formControlName="content"
                                                            [class.direction-right]="languageList[i].languageName == 'Arabic'">
                                                        </editor> -->
                                        <!--This is external system container where you can place plugin buttons -->
                                        <div id="externalSystemContainer">
                
                                            <span id="changeHistoryContainer" style="display: none;">Last change: <a
                                                    id="changeHistoryLink"></a></span>
                                        </div>
                                        <div class="notification-zone"></div>
                                        <!--Plugin containers -->
                                        <div>
                                            <div id="stripoSettingsContainer" style="height:700px;">Loading...</div>
                                            <div id="stripoPreviewContainer" style="height:900px;"></div>
                                        </div>
                                        <mat-error
                                            *ngIf="ln.controls['content'].hasError('required') && (ln.controls['content'].touched || ln.controls['content'].dirty)">
                                            Please enter value</mat-error>
                                    </mat-expansion-panel>
                                </mat-accordion>
                                <mat-error style="margin-top: 10px;" *ngIf="EmailGroup.controls['emailArray'].invalid && show_error">
                                    Please fill all mandatory fields</mat-error>
                            </div>
                        </div>
                    </div><br><br>
                </form>
                <div class="button-wrap">
                    <div>
                        <button type="button" class="button secondary-btn" [routerLink]="['/search-template']">CANCEL</button>
                        <button type="submit" class="button primary-btn">ADD</button>
                    </div>
                </div>
                </mat-card>
        </div>
    </form>
</div>