
.page-wrap-popup2{
    .table-wrap-inner {
      th.mat-header-cell {
                
                  font-family: "muliregular" !important;
              }
  
          td.mat-cell,
        td.mat-footer-cell,
        th.mat-header-cell {
         
            font-family: "muliregular" !important;
        }
    }
    .search-panel-block {
      .feild-search {
        background-color: #FFFFFF;
        border-radius: 5px;
        padding: 0px;
        width: 100%;
    }
    }
    .tc{
      text-align: center;
      color: red;
      margin: 52px 0px;
    }
    .button-wrap-new{
      padding-bottom: 10px;
     
  }
  .button-wrap-section{
    text-align: right;
    margin-top: 30px;
  }
  .ht-scroll{
    overflow: auto;
    height: 350px;
  }
  .mat-paginator-page-size-select{
    margin: 6px 4px 0 4px!important;
    width: 56px!important;
  }
  
    }