<div class="bredcrumb-title-wrap">
    <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
    <div class="title flex-container">
        <h1><span class="left-arrow"><img class="left-img" src="assets/images/svg-icons/leftarrow_black.svg"
                    alt="leftArrow" [routerLink]="['/search-customer-segments']"></span>Edit Customer Segments</h1>
        <mat-slide-toggle class="example-margin text-right" [(ngModel)]="toggleVal" (change)="toggleStatus($event)">
            {{statusValue}}
        </mat-slide-toggle>
    </div>
</div>
<div *ngIf="viewcusSegmentData" class="select-store-block">
    <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
</div>
<div *ngIf="!viewcusSegmentData">
    <div class="page-wrap" *ngIf="editUserData">
        <form [formGroup]="customerSegmentsFormGroup" #editCustomerSegmentsForm="ngForm">
            <div class="row">
                <div class="col-md-5">
                    <h3 class="card-title">Basic Details</h3>
                    <mat-card class="segment-card">
                        <div class="row segment-details">
                            <div class="col-md-12">
                                <mat-form-field class="field-width">
                                    <input [errorStateMatcher]="matcher" matInput placeholder="Segment Name" formControlName="segmentName" required maxLength="25" (focusout)="checkSegmentName()">
                                    <mat-error *ngIf="customerSegmentsFormGroup.get('segmentName').hasError('required')">Please enter value
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 brk-all">
                                <mat-form-field class="field-width">
                                    <textarea [errorStateMatcher]="matcher" matInput placeholder="Description" formControlName="description" required maxLength="500"></textarea>
                                    <mat-error *ngIf="customerSegmentsFormGroup.get('description').hasError('required')">Please enter value
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-7">
                    <h3 class="card-title">Segmentation Rules</h3>
                    <mat-card class="segment-card">
                        <div class="segment-rules" *ngIf="editUserData?.segmentType=='SEGMENT_RULE'">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h1>{{customerSelectedCount}}</h1>

                                            <div class="getdetails-cus">
                                                <div class="getcustomer-download">
                                                    <div>
                                                        <a class="getdetails" (click)="getCustomerList()" *ngIf="getCustomerBtnEnbale" [class.disable-cusbtn]="disableData"><span
                                                                class="download-info">
                                                                <img class="downoad-icon"
                                                                    src="assets/images/svg-icons/uploadgray_ico.svg"
                                                                    alt=""><span class="download-info">Download
                                                                    Customer Data</span>
                                                            </span></a>
                                                    </div>
                                                    <div class="download-loader" *ngIf="downloadQuery">
                                                        <div class="segment-loader  download-loader">
                                                            <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
                                                        </div>
                                                        <span>Downloading</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 select-segment" *ngIf="editUserData?.segmentType=='SEGMENT_RULE'">
                                            <div class="segment-info">
                                                <button type="button" [class.segment-btndisable]="selectfinalQuery" class="button tertiary-btn" (click)="selectSegmentDialog()">SEGMENT
                            RULE</button>
                                                <p>List of custmers based on below segmentation</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr>
                                </div>
                                <div class="col-md-12">
                                    <div class="segment-info">
                                        <p class="segment-title">Segmentation</p>
                                        <div *ngIf="selectfinalQuery" class="segment-loader">
                                            <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
                                        </div>
                                        <p *ngIf="!selectfinalQuery">{{finalQuery}}</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div *ngIf="err" class="err-msg">Segmentation Missing</div>
                                </div>
                            </div>
                        </div>

                        <div class="row row_non_memData" *ngIf="editUserData?.segmentType!='SEGMENT_RULE'">
                            <div class="col-4 non_memData">
                                <label>File Validate Status</label>
                                <p *ngIf="editUserData?.fileValidateStatus==1">Yes</p>
                                <p *ngIf="editUserData?.fileValidateStatus==0">No</p>
                            </div>
                            <div class="col-4 non_memData">
                                <label>Success File Path</label>
                                <div class="getcustomer-download">
                                    <div class="segmentFile_upload">
                                        <p *ngIf="editUserData?.successFilePath == null">-</p>
                                        <a *ngIf="editUserData?.successFilePath!=null" href="{{fileUrl}}{{editUserData?.successFilePath}}"><img class="downoad-icon" src="assets/images/download_icon.png" alt=""><span class="download-info">Download
                                            Success File Path</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 non_memData">
                                <label>Error File Path
                                </label>
                                <div class="getcustomer-download">
                                    <div class="segmentFile_upload">
                                        <p *ngIf="editUserData?.errorFilePath == null">-</p>
                                        <a *ngIf="editUserData?.errorFilePath != null" href="{{fileUrl}}{{editUserData?.errorFilePath}}"><img class="downoad-icon" src="assets/images/download_icon.png" alt=""><span class="download-info">Download
                                            Error File Path</span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4 non_memData">
                                <label>Valid Member Count</label>
                                <p *ngIf="editUserData?.validMemberCount == null">-</p>
                                <p *ngIf="editUserData?.validMemberCount != null">{{editUserData?.validMemberCount}}</p>
                            </div>
                            <div class="col-4 non_memData">
                                <label>Invalid Member Count</label>
                                <p *ngIf="editUserData?.inValidMemeberCount == null">{{editUserData?.inValidMemeberCount}}</p>
                                <p *ngIf="editUserData?.inValidMemeberCount != null">{{editUserData?.inValidMemeberCount}}</p>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div><br>
            <div class="btm-button-wrap">
                <button type="button" class="button secondary-btn" [routerLink]="['/search-customer-segments']">CANCEL</button>
                <button type="submit" class="button primary-btn" (click)="updateCustomerSegment()" [class.disablebtn]="loadingResponse">
                    <span class="loading-img-hide" *ngIf="loadingResponse">
                        <img src="assets/images/loader-icons/White-loading-200px.svg" alt="loader">
                    </span>{{btntxt}}</button>
            </div>
        </form>
    </div>
</div>