<div class="bredcrumb-title-wrap">
    <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
    <div class="title">
        <h1>Masters</h1>
    </div>
</div>
<div class="page-wrap-masters">
    <div class="row master-cards">
        <div class="col-md-3 master-list master-left">
            <mat-card>
                <ul class="master_listing">
                    <li><a href="javascript:void(0)" [routerLink]="['/search-country']">Countries</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-cities']">Cities</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-malls']">Malls</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-course']">Course</a></li>
                    <li class="master-list-selected"><a href="javascript:void(0)" [routerLink]="['/search-brands']">Brands</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-currency']">Currency</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-currency-conversion']">Currency Conversion</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-brand-category']">Brand Category</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-language']">Language</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-faq-category']">FAQ Category</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-about-us-category']">About Us Category</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/search-feedback']">Feedback</a></li>
                    <!-- <li><a href="javascript:void(0)" [routerLink]="['/search-partner']">Partner</a></li> -->
                    <li><a href="javascript:void(0)" [routerLink]="['/search-enquiry-type']">Enquiry Type</a></li>
                    <!-- <li><a href="javascript:void(0)" [routerLink]="['/add-taxation']">Taxation</a></li> -->
                    <li><a href="javascript:void(0)" [routerLink]="['/add-product-tag']">Product Tag</a></li>


                </ul>
            </mat-card>
        </div>
        <div class="col-md-9 master-right">
            <div class="search-table">
                <mat-card class="master-content">
                    <form class="filter-wrap" [formGroup]="searchBrandForm" (submit)="searchVal()">
                        <div class="search-bar">
                            <div class="flex-center">
                                <div class="common-search">
                                    <input type="text" formControlName="searchVal" placeholder="Search Brands" />
                                    <span class="search-btn" (click)="searchVal()"></span>
                                    <div class="filter-btn-wrap">
                                        <span class="filter-btn" (click)="openFilter();" [ngClass]="status ? 'open' : 'close'"></span>
                                    </div>
                                </div>
                                <button type="button" class="button primary-btn mr-20px" [routerLink]="['/add-brands']">
                                    <span class="add-plus">
                                        <img src="assets/images/svg-icons/add_ico.svg" alt="add" class="plus-icon">
                                    </span>ADD BRANDS
                                </button>
                            </div>
                        </div>
                        <div class="feild-search" *ngIf="!status">
                            <div class="row feild-search-inner">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="brandCode" placeholder="Brand Code" maxlength="10" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="brandName" placeholder="Brand Name" maxlength="100" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select placeholder="Brand Category" formControlName="brandCategory" multiple>
                                            <mat-option *ngFor="let brandCategory of brandCategories" [value]="brandCategory.categoryId">{{brandCategory?.categoryTitle}} </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select placeholder="Status" formControlName="status">
                                            <mat-option value="ONLINE">ONLINE</mat-option>
                                            <mat-option value="OFFLINE">OFFLINE</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="button-wrap">
                                    <div class="">
                                        <button class='button quaternary-btn' (click)="resetForm()" type="button">RESET</button>
                                        <button class='button tertiary-btn' type="submit">APPLY</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-wrap">
                        <div class="table-wrap-inner">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="brandCode">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> BRAND CODE </th>
                                    <td mat-cell *matCellDef="let row"> {{ row.brandCode }} </td>
                                </ng-container>

                                <ng-container matColumnDef="brandName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> BRAND NAME </th>
                                    <td mat-cell *matCellDef="let row"><u><a [routerLink]="['/view-brands/'+row.brandId]" class="text-blue">{{row.brandName}}</a></u></td>
                                </ng-container>

                                <ng-container matColumnDef="categoryName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> BRAND CATEGORY </th>
                                    <td mat-cell *matCellDef="let row"> {{row.categoryName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="modifiedTime">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> LAST MODIFIED ON </th>
                                    <td mat-cell *matCellDef="let row"> {{row.modifiedTime | date:'dd/MM/yyyy'}} </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> STATUS </th>
                                    <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                </tr>
                            </table>
                            <div class="no-records" *ngIf="resultsLength === 0">
                                No Records Found!
                            </div>
                        </div>
                        <mat-paginator [length]="resultsLength" (page)="getUpdate($event)" [pageSize]="10" [pageSizeOptions]="[10,20,50,100]"></mat-paginator>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>