<div class="page-wrap pt-3 ">
  <div class="search-panel-block pb-15px">
    <!-- <div class="bredcrumb-title-wrap">
        <div class="search-container-block">

        </div>
      </div> -->
    <div class="search-list">
      <form [formGroup]="searchFlowFormGroup" (submit)="searchVal()" #searchFlowForm="ngForm">
        <div class="row title-search-row position-relative"
          style="width: 100%;display: flex;align-items: center;justify-content: center;">

          <div class="col-md-5 title-search-col">
            <div class="searchform-block">
              <div class="common-search">
                <input type="text" formControlName="searchVal" placeholder="Search Flow" />
                <span class="search-btn" (click)="searchVal()"></span>

              </div>
            </div>
          </div>
          <div class="col-md-2 title-search-col" style="    position: absolute;
            right: 0px;">
            <div class="add-btn text-right">
              <span class="add-plus">
                <img src="assets/images/icons/filter_close_ico.png" style="width:24px;cursor: pointer;" alt="add"
                  (click)="onCloseClick()" class="plus-icon">
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="feild-search" *ngIf="!status">
            <div class="row feild-search-inner">

              <div class="col-md-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" [OnlyNumber]="true" placeholder="Start Date" formControlName="fromDate">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker2"  [OnlyNumber]="true" placeholder="End date" formControlName="endDate">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="button-wrap">
                <div class="">
                  <button class='button quaternary-btn' (click)="reset()">RESET</button>
                  <button class='button tertiary-btn' type="submit">APPLY</button>
                </div>
              </div>
            </div>
          </div> -->
      </form>
    </div>
    <div class="form-wrap">
      <form action="" #flowSelectedForm="ngForm">
        <div class="row">
          <div class="col-sm-6">
            <h4>Select Flow</h4>
            <div class="table-wrap ">
              <div class="table-wrap-inner" style="height: 250px;overflow-y: auto;" malihu-scrollbar
                [scrollbarOptions]="scrollbarOptions">
                <table mat-table [dataSource]="dataSource" matSort>
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef style="
                    width: 6%;
                    padding: 0 !important;
                ">
                      Select
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <!-- <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                      </mat-checkbox> -->
                      <mat-radio-button (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null">
                      </mat-radio-button>

                    </td>
                  </ng-container>

                  <ng-container matColumnDef="flowName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="top-border"> FLOW NAME </th>
                    <td mat-cell *matCellDef="let row">
                      {{row.flowName}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>
                <div class="no-records" *ngIf="resultsLength === 0 && buildFlag">
                  No Records Found!
                </div>
              </div>
              <!-- <mat-paginator [length]="resultsLength" #paginator (page)="getUpdate($event)" [pageSize]="10"
                [pageSizeOptions]="[10,20,50,100]">
              </mat-paginator> -->
              <mat-paginator [length]="resultsLength" (change)="searchVal()" #paginator (page)="getUpdate($event)"
                [pageSize]="10" [pageSizeOptions]="[10,20,50,100]">
              </mat-paginator>
              <div class="text-danger" *ngIf="showerrors">
                Please select flow
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <div>
                <h4>Activation Date</h4>
                <p>Selected flow will be available within the selected dates only</p>
              </div>
              <div class="row mt-2">
                <div class="col-sm-6">
                  <mat-form-field (click)="picker1.open()" style="width: 100%; cursor: pointer;">
                    <input required readonly [(ngModel)]="selectedFlowData.startFlowDate" name="startFlowDate" ngModel
                      matInput [matDatepicker]="picker1" placeholder="Start Date" [min]="minDate"
                      style="cursor: pointer;" #startFlowDate="ngModel" [value]="29/09/2019">

                    <svg class="datepickericon_flow" fill="currentColor" focusable="false" height="24px"
                      viewBox="0 0 24 24" width="24px">
                      <path
                        d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z">
                      </path>
                    </svg>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  <div class="text-danger" style="position: absolute;top: 36px;"
                    *ngIf="startFlowDate.errors?.required && (startFlowDate.dirty || startFlowDate.touched || showerrors) ">
                    Please Select Start Date..
                  </div>
                </div>
                <div class="col-sm-6">
                  <mat-form-field (click)="picker.open()" style="width: 100%; cursor: pointer;">
                    <input required readonly [(ngModel)]="selectedFlowData.endFlowDate" name="endFlowDate"
                      #endFlowDate="ngModel" matInput [matDatepicker]="picker" placeholder="End Date"
                      [min]="selectedFlowData.startFlowDate == '' ? minDate : selectedFlowData.startFlowDate"
                      style="cursor: pointer;">

                    <svg class="datepickericon_flow" fill="currentColor" focusable="false" height="24px"
                      viewBox="0 0 24 24" width="24px">
                      <path
                        d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z">
                      </path>
                    </svg>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <div class="text-danger" style="position: absolute;top: 36px;"
                    *ngIf="endFlowDate.errors?.required && (endFlowDate.dirty || endFlowDate.touched || showerrors) ">
                    Please Select End Date
                  </div>

                </div>
              </div>
              <div>
                <h4>Display Timings</h4>
                <p>Selected flow will be available in a day within the selected time only</p>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label class="example-input-wrapper">
                    Daily Start Time <img src="assets/images/icons/time_ico.svg" width="15px" alt="..">
                    <input required [(ngModel)]="selectedFlowData.startFlowTime" #startFlowTime="ngModel" ngModel
                      name="startFlowTime" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" class="timer">
                    <owl-date-time [pickerType]="'timer'" #dt1>
                    </owl-date-time>
                  </label>
                  <div class="text-danger"
                    *ngIf="startFlowTime.errors?.required && (startFlowTime.dirty || startFlowTime.touched || showerrors) ">
                    Please Select Start Time
                  </div>
                </div>
                <!-- <div class="col-sm-6">
                  <label class="example-input-wrapper">
                      Daily End Time <img src="assets/images/icons/time_ico.svg" width="15px" alt="..">
                    <input required [(ngModel)]="selectedFlowData.endFlowTime"  #endFlowTime="ngModel" ngModel
                    [min]="selectedFlowData.startFlowTime == '' ? '' : selectedFlowData.startFlowTime"
                     name="endFlowTime" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" class="timer">
                    <owl-date-time [pickerType]="'timer'" #dt>
                    </owl-date-time>
                    <div class="text-danger" *ngIf="endFlowTime.errors?.required && (endFlowTime.dirty || endFlowTime.touched || showerrors) " >
                        Please Select End Time
                      </div>
                  </label>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="col-sm-12 mt-3 mb-3">
        <div class="button-wrap text-center mt-0 mr-3">
          <div class="">
            <button class="button secondary-btn " type="button" [mat-dialog-close]="{
          'buttonName': 'CANCEL'
        }">CANCEL</button>
            <button type="button" class="button primary-btn "
              (click)="selectedFlow(selection.selected, flowSelectedForm)">SELECT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>