<div class="bredcrumb-title-wrap">
  <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
  <div class="title flex justify-content">
    <h6 class="page-title">Add Burn Rule</h6>
  </div>
</div>
<div class="page-wrap">
  <div class="burn-rule">
    <form (submit)="createBurnRule(burnRuleFormGroup.value)" [formGroup]="burnRuleFormGroup"
      #createProgramForm="ngForm">
      <mat-card class="summary-card">
        <div class="summary">
          <div class="row">
            <div class="col-md-3" *ngIf="selProgramId===0">
              <!-- <mat-form-field>
                <mat-select placeholder="Select Program" required #programId
                  (selectionChange)="selectProgram(programId.value)">
                  <mat-option name="segment1" [value]="program.programId" *ngFor="let program of programs ">
                    {{program.programName}}</mat-option>
                </mat-select>
              </mat-form-field> -->
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Select Segment" aria-label="Program" [matAutocomplete]="programAutoComplete"
                  [formControl]="programCtrl">
                <mat-autocomplete #programAutoComplete="matAutocomplete">
                  <mat-option *ngFor="let program of filteredprograms | async" [value]="program.programName"
                    (click)="getAllPrograms(program.programId)" #programInput>
                    <span>{{program.programName}}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-3" *ngIf="selProgramId!=0 && programDetails.length!=0">
              <label>Program</label>
              <p class="word-wrap">{{programDetails?.programLocales[0].programName}}</p>
            </div>
            <div class="col-md-3" *ngIf="programDetails.length!=0">
              <p *ngIf="programCondition">{{programDetails?.programId}}, {{programDetails?.programType}}, {{brand}}</p>
              <p class="word-wrap">{{programDetails?.programLocales[0].programName}}</p>
            </div>
            <div class="col-md-2" *ngIf="programDetails.length!=0">
              <label>Reward Type</label>
              <p>{{programDetails?.rewardType}}</p>
            </div>
            <div class="col-md-2" *ngIf="programDetails.length!=0">
              <label>Start Date & Time</label>
              <p>{{startDateTime | date:'dd/MM/yyyy hh:mm a'}} </p>
            </div>
            <div class="col-md-2" *ngIf="programDetails.length!=0  && programDetails['endDate']!=null">
              <label>End Date & Time</label>
              <p>{{endDateTime | date:'dd/MM/yyyy hh:mm a'}}</p>
            </div>
          </div>
        </div>
      </mat-card>
      <div class="burn-rule-info">
        <mat-card class="rule-info-card">
          <div class="row">
            <div class="col-md-3">
              <div class="flex justify-content">
                <mat-checkbox class="check-box-text" formControlName="displayScreen">Display on Screen Home
                </mat-checkbox>
                <mat-checkbox class="check-box-text" formControlName="exclusive">Exclusive</mat-checkbox>
              </div>
              <div class="img-block">
                <div class="avatar-zone">
                  <label class="upload-text" *ngIf="rulePath==''" [class.placeholder-img]="imgUpload">Rule Image</label>
                  <img class="upload-img" *ngIf="rulePath!=''" [src]="filePathUrl+rulePath"
                    [class.uploaded-img]="imgUpload" width="235px">
                </div>
                <div class="remove-img" *ngIf="rulePath!=''">
                  <span> <img src="assets/images/icons/filter_close_ico.png" alt=""
                      (click)="removeImage()"><label>Remove</label></span>
                </div>
                <input style="display:none;" type="file" class="upload_btn" (change)="baseRuleImg($event.target.files)"
                  #burnRuleImg />
                <span class="upload-btn-text" (click)='burnRuleImg.click()' *ngIf="rulePath==''">
                  <div class="text-center">
                    <span class="upload-icon">
                      <img src="assets/images/svg-icons/uploadgray_ico.svg" width="12px" alt="Img">
                    </span>Upload Image
                  </div>
                  <div class="image-error" style="color:red" *ngIf="showRuleImageError">Please upload image</div>
                </span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="master-fieldSet">
                <fieldset class="language-fieldset">
                  <legend class="fieldset-heading">Rule Name</legend>
                  <div class="" formArrayName="burnRuleName">
                    <div class=""
                      *ngFor="let locale of burnRuleFormGroup['controls']['burnRuleName']['controls']; let i=index"
                      [formGroupName]="i">
                      <mat-form-field class="{{alignCss[i]}}">
                        <input matInput placeholder="{{languageList[i].languageName}}" maxlength="100" required
                          formControlName="burn">
                        <mat-error *ngIf="locale.get('burn').hasError('required')">Please enter value</mat-error>
                        <mat-error *ngIf="locale.get('burn').hasError('pattern')">Please valid name</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="Redeem Type" formControlName="freeProduct" required disabled>
                  <mat-option name="freeProduct" value="FREE_PRODUCT">Free Product</mat-option>
                  <mat-option name="points" value="POINTS">Points</mat-option>
                </mat-select>
                <mat-error *ngIf="burnRuleFormGroup.get('freeProduct').hasError('required')">Redeem Type Required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3" *ngIf="burnRuleFormGroup.get('freeProduct').value=='FREE_PRODUCT'">
              <!-- <mat-form-field>
                <mat-select placeholder="Stamping For" formControlName="freeProductType" required>
                  <mat-option *ngFor="let freeProduct of freeproductArry" [value]="freeProduct.value">
                    {{freeProduct.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="burnRuleFormGroup.get('freeProductType').hasError('required')">Please select
                  value</mat-error>
              </mat-form-field> -->
              <mat-form-field>
                <mat-select placeholder="Select Free Product" formControlName="freeProductType">
                  <mat-option *ngFor="let freeproductvalue of freeproductvalues" value="{{freeproductvalue.freeProductCode}}" (click)="getfreeproductvalue(freeproductvalue.freeProductCode)">
                    {{ freeproductvalue.freeProductCode }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="burnRuleFormGroup.get('freeProductType').hasError('required')">Please
                  select value</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="reward-stams-section" *ngIf="burnRuleFormGroup.get('freeProduct').value!='POINTS'">
        <mat-card class="rewardStamps-card">
          <div class="row pb-20px">
            <div class="col-lg-6 col-md-12">
              <div class="table-heading">
                <h6>Reward</h6>
                <p>What the customer will get</p>
              </div>
              <div class="reward-details">
                <div class="row">
                  <div class="reward-details">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="img-block">
                          <div class="avatar-zone">
                            <label class="upload-text" *ngIf="rewardPath ==''"
                              [class.placeholder-img]="imgUpload">Reward Image</label>
                            <img class="upload-img" *ngIf="rewardPath!=''" [src]="filePathUrl+rewardPath"
                              [class.uploaded-img]="imgUpload" width="130px">
                          </div>
                          <div class="remove-img" *ngIf="rewardPath!=''">
                            <span> <img src="assets/images/icons/filter_close_ico.png" alt=""
                                (click)="removeRewardImage()"><label>Remove</label></span>
                          </div>
                          <input style="display:none;" type="file" class="upload_btn"
                            (change)="rewardImg($event.target.files)" #rewardImgFile />
                          <span class="upload-btn-text" (click)='rewardImgFile.click()' *ngIf="rewardPath ==''">
                            <div class="text-center">
                              <span class="upload-icon">
                                <img src="assets/images/svg-icons/uploadgray_ico.svg" width="12px" alt="Img">
                              </span>Upload Image
                            </div>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="">
                          <mat-form-field class="field-style">
                            <input matInput placeholder="Redeem Qty" OnlyNumber="true" maxlength="1"
                              formControlName="rewardQuantity">
                            <mat-error *ngIf="burnRuleFormGroup.get('rewardQuantity').hasError('required')">Redeem
                              Quantity Required</mat-error>
                            <mat-hint align="left">Must be less than 9</mat-hint>
                          </mat-form-field>
                        </div>
                        <div class="redeem-info flex">
                          <div class="">
                            <p>Upload Product</p>
                            <label>Upload the product to be provide as free</label>
                            <p class="product-err-msg" *ngIf="selectedProduct.length == 0 && skuFile==''">
                              {{productErrorMsg}}</p>
                          </div>
                          <div>
                            <span class="upload-icon" (click)="productsDialog()" *ngIf="skuFile ==''">
                              <img src="assets/images/svg-icons/uploadgray_ico.svg" width="12px" alt="Img">
                              <label class="text">Upload</label>
                              <p style="font-size:9px;max-width: 150px;word-wrap: break-word;"
                                *ngIf="selectedProduct.length!=0">{{selectedProduct.length}}
                                Products Selected</p>
                            </span>
                            <label *ngIf="skuFile!=''" style="color:black;max-width: 150px;word-wrap: break-word;"
                              for="skuFile">{{skuFileName}}</label>
                            <div class="remove-img" *ngIf="skuFile!=''">
                              <span> <img src=" assets/images/icons/filter_close_ico.png" alt="" (click)="removeSku()">
                                <label style="font-size:12px;">Remove</label></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="table-heading">
                <h6>Stamps</h6>
                <p>How many stamps required to get this reward</p>
              </div>
              <div class="program-table">
                <div class="header">
                  <div class="table-cell">
                    <label class="common-tex"></label>
                  </div>
                  <div class="table-cell">
                    <label class="head-text">No. of stamps required</label>
                  </div>
                </div>
                <div class="content" formArrayName="tierArray">
                  <div class="content-column"
                    *ngFor="let locale of burnRuleFormGroup['controls']['tierArray']['controls']; let i=index"
                    [formGroupName]="i">
                    <div class="table-cell">
                      <label class="tier-list">{{ locale.get('tierName').value}}</label>
                    </div>
                    <div class="table-cell">
                      <mat-form-field>
                        <input matInput type="text" maxlength="3" OnlyNumber="true" formControlName="tierCount">
                        <mat-error *ngIf="locale.get('tierCount').hasError('required')">Please enter value</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="attach-store">
            <div class="toggle-block">
              <div class="toggle-panel">
                <span>
                  <mat-slide-toggle formControlName="ruleType" (change)="toggleIncludeExclude($event)"
                    class="example-margin" [checked]="checked"></mat-slide-toggle>
                </span>
                <span *ngIf="includeExclude=='Include'">
                  Include Stores
                </span>
                <span *ngIf="includeExclude=='Exclude'">
                  Exclude Stores
                </span>
              </div>
            </div>

            <label>Attach list of stores is any to be {{includeExclude}} from this rule</label>
            <div class="">
              <span class="upload-icon">
                <img src="assets/images/svg-icons/uploadgray_ico.svg" width="12px" alt="Img">
                <label class="text" (click)="openDialog()"><u>Select Store</u></label>
              </span>
              <div *ngIf="selectedStore!=null" class="select-store-block">
                <div *ngIf="selectStoreVal">
                  <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
                </div>
                <!-- <p>{{selectedStore.length}}</p> <span>Stores Selected</span> -->
                <p *ngIf="dataStore">{{selectedStore.length}}</p><span>Stores Selected</span>
              </div>
              <p style="color:red" *ngIf="storeRequired">{{storeErrorMsg}}</p>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="" *ngIf="burnRuleFormGroup.get('freeProduct').value=='POINTS'">
        <mat-card class="rule-info-card">
          <div class="col-md-9">
            <h3 class="card-title">Value/ Worth of 1 Point</h3>
            <mat-card class="p-0px">
              <div class="program-table">
                <div class="header">
                  <div class="table-cell">
                    <label class="common-text">Region</label>
                  </div>
                  <div class="table-cell" *ngFor="let r of regionCurrencies">
                    <label class="head-text">{{r.currencyCode}}</label>
                  </div>

                </div>
                <div class="content" formArrayName="rewardArray" *ngIf="tierFlag">

                  <div class="content-column"
                    *ngFor="let tier of burnRuleFormGroup['controls']['rewardArray']['controls'];let i = index;"
                    [formGroupName]="i">
                    <div class="table-cell">
                      <label class="tier-list">{{tierList[i].tierName}}</label>
                      <input type="hidden" class="input-box change-align" formControlName="tierId">
                    </div>
                    <div>
                      <div formArrayName="currencyArr">
                        <div class="table-cell"
                          *ngFor="let currencyControl of tier['controls']['currencyArr']['controls'];let j = index;"
                          [formGroupName]="j">
                          <input type="text" class="input-box" #inputCurrency
                            [formControlName]="regionCurrencies[j].regionId" OnlyNumber="true"
                            (blur)="autoPopulateCurrencyValue(tier, j, inputCurrency.value)">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </mat-card>
            <div *ngIf="regionError" style="color: red; padding:.5em 0 0 9em">Please enter value</div>
            <div *ngIf="rewardErrMsg" style="color: red; padding:.5em 0 0 9em">Decimals values till 3 precision are
              allowed</div>
          </div>
          <div class="exclude-store">

            <div class="row">
              <div class="col-md-4">
                          <div class="">
                              <p>Excluded SKU</p>
                              <small>Attach list of  products if any to be excluded from this rule</small>
                              <p>
                                    <span class="upload-btn-text" (click)="productsDialog(flase)">
                                      <span class="upload-icon">
                                          <img src="assets/images/svg-icons/uploadgray_ico.svg" width="12px" alt="Img">
                                      </span>Upload SKU
                                    </span>
                              </p>
                              <img src="assets/images/icons/filter_close_ico.png" *ngIf="skuFile!=''" (click)="removeSkuFile($event.value)" width="12px" alt="Img">
                              <label style="color:black" for="skuFile">{{skuFile}}</label>
                               <p style="font-size:9px;" *ngIf="selectedProduct.length!=0">{{selectedProduct.length}} Products Selected</p>
                              <!-- <p> <u class="text-blue" *ngIf="selectedSkuCount!=0">{{selectedSkuCount}} sku's are listed</u> </p>  -->
                          </div>
                      </div>
                      
              <div class="col-md-4">
                <div class="toggle-block">
                  <div class="toggle-panel">
                    <span>
                      <mat-slide-toggle formControlName="ruleType" (change)="toggleIncludeExclude($event)"
                        class="example-margin" [checked]="checked"></mat-slide-toggle>
                    </span>
                    <span *ngIf="includeExclude=='Include'">
                      Include Stores
                    </span>
                    <span *ngIf="includeExclude=='Exclude'">
                      Exclude Stores
                    </span>
                  </div>
                  <!-- <mat-slide-toggle formControlName="excludedProductStore"></mat-slide-toggle></p> -->
                  <small>Attach list of stores if any to be {{includeExclude}} from this rule</small>
                  <p>
                    <span class="upload-btn-text" (click)="openDialog()">
                      <span class="upload-icon">
                        <img src="assets/images/svg-icons/uploadgray_ico.svg" width="12px" alt="Img">
                      </span>Select Store
                    </span>

                  </p>
                  <div *ngIf="selectedStore!=null" class="select-store-block">
                    <div *ngIf="selectStoreVal">
                      <img src="assets/images/loader-icons/Blue-loading-200px.svg" alt="Loader">
                    </div>
                    <p *ngIf="dataStore">
                      {{selectedStore.length}}
                    </p>
                    <span>Stores Selected</span>
                  </div>
                  <p style="color:red" *ngIf="storeRequired">{{storeErrorMsg}}</p>
                  <!-- <p> <u class="text-blue" *ngIf="selectedStoreCount!=0">{{selectedStoreCount}} stores selected</u> </p> -->
                </div>
              </div>
              <div class="col-md-4">
                <div class="flex align-center">
                  <mat-form-field class="width-50">
                    <input matInput type="text" placeholder="Minimum Points" formControlName="minimumPoints" />
                  </mat-form-field>
                  <small>(Minimum points required to burn)</small>
                </div>
              </div>
            </div>

          </div>
        </mat-card>
      </div>
      <div class="description-block">
        <h3 class="card-title">Description</h3>
        <mat-card class="description-card">
          <div class="expansion-panel" formArrayName="descriptionArray">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let language of languageList;let i =index" [formGroupName]="i"
                class="mat-expansion-panel {{rightPanel[i]}}" (opened)="panelOpenState = true;expandDataEmail()"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{languageList[i].languageName}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="pt-20px" class="{{alignCss[i]}}">
                  <label>Content</label>
                  <editor apiKey="test" *ngIf="languageList[i].languageName!='Arabic'" formControlName="description"
                    (onSelectionChange)="removeErrorMsg(i)"></editor>
                  <editor apiKey="test" *ngIf="languageList[i].languageName=='Arabic'" id="arabicID"
                    formControlName="description" (onSelectionChange)="removeErrorMsg(i)"></editor>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <div *ngIf="descriptionError" style="color:red">Please enter value</div>
          </div>
        </mat-card>
      </div>
      <div class="terms-block">
        <h3 class="card-title">Terms & Conditions</h3>
        <mat-card class="terms-card">
          <div class="expansion-panel" formArrayName="TermAndConditionArray">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let language of languageList;let i =index" [formGroupName]="i"
                class="mat-expansion-panel {{rightPanel[i]}}" (opened)="panelOpenState = true;expandtermAndCondition()"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{languageList[i].languageName}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="pt-20px" class="{{alignCss[i]}}">
                  <label>Content</label>
                  <editor *ngIf="languageList[i].languageName!='Arabic'" apiKey="test" [init]="{
                    plugins: 'code, preview ,print,fullpage, searchreplace, directionality, visualblocks, visualchars, fullscreen, image, link, media, template, codesample, table, charmap, hr, pagebreak, nonbreaking, anchor, toc, insertdatetime, advlist, lists, wordcount, imagetools, textpattern, help',
                    toolbar:'code preview',
                    height : '480'
                          }" formControlName="termAndCondition" (onSelectionChange)="removeTermsCondErrorMsg(i)">
                  </editor>
                  <editor *ngIf="languageList[i].languageName=='Arabic'" id="arabicIDtac" apiKey="test" [init]="{
                    plugins: 'code, preview ,print,fullpage, searchreplace, directionality, visualblocks, visualchars, fullscreen, image, link, media, template, codesample, table, charmap, hr, pagebreak, nonbreaking, anchor, toc, insertdatetime, advlist, lists, wordcount, imagetools, textpattern, help',
                    toolbar:'code preview',
                    height : '480'
                          }" formControlName="termAndCondition" (onSelectionChange)="removeTermsCondErrorMsg(i)">
                  </editor>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <div *ngIf="termsConditionError" style="color:red">Please enter value</div>
          </div>
        </mat-card>
      </div>
      <div class="text-right">
        <!-- <button class="button secondary-btn" type="button">CANCEL</button> -->
        <button class="button primary-btn" type="submit" [disabled]="buttonDisable">ADD</button>
      </div>
    </form>
  </div>
</div>